* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  position: relative;
}
body::after {
  content: "";
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.308) url(image/loading.gif) center/50px no-repeat;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
}

.sending-form::after {
  opacity: 1;
  visibility: visible;
}

.stop-scroll {
  overflow: hidden;
}

header {
  position: relative;
}

.container {
  margin: auto;
  max-width: 100%;
}

.fon-orange {
  background-color: #fff8f1;
  background-image: url(image/fon-orange-bg.svg);
  background-size: cover;
}

.color-green {
  color: #00730c;
}

.D1 {
  font-size: 32px;
}

.H1 {
  font-size: 28px;
}

.H3 {
  font-size: 17px;
}

.H4 {
  font-size: 18px;
}

.H5 {
  font-size: 15px;
}

.H6 {
  font-size: 14px;
}

.body-small {
  font-size: 10px;
}

p {
  color: rgb(103, 103, 103);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.green-button {
  background-color: #00730c;
  color: white;
  border-radius: 5px;
  border: 1px solid #00730c;
}
.green-button:hover {
  background-color: white;
  color: #00730c;
}

.active-btn {
  background-color: white;
  color: #00730c;
}

header {
  position: sticky;
  top: 0;
  z-index: 20;
}

.desk-top-navbar {
  display: none;
}

.top-navbar {
  display: flex;
  padding: 25px 15px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.08);
}
.top-navbar a {
  display: flex;
  height: 100%;
}

.top-nav-menu {
  gap: 20px;
}

.tn-call-btn {
  background-image: url(image/laptop-call-button.svg);
  width: 118px;
  height: 100%;
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.tn-menu-btn {
  width: 30px;
  height: 100%;
  background-image: url(image/navbar-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mob-menu {
  background-color: #0c4b35;
  position: absolute;
  width: 100%;
  left: -100%;
  z-index: 5;
  transition: 0.3s all linear;
  padding: 0 15px;
}

.mob-menu.active {
  left: 0;
}

.mob-menu-wrapper {
  height: 85vh;
  overflow: auto;
  gap: 25px;
  padding: 25px 0;
}

.mob-menu-content {
  width: 100%;
  gap: 15px;
}

.mob-menu-cont-item {
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.mob-menu-accordion {
  display: flex;
  flex-direction: column;
  width: 143px;
}

.mma-title {
  display: flex;
  gap: 8px;
  opacity: 0.7;
  align-items: center;
}
.mma-title:hover {
  opacity: 1;
  cursor: pointer;
}
.mma-title h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mma-title span {
  width: 12px;
  height: 12px;
  background-image: url(image/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
  transition: transform 0.5s ease-out;
  transform: rotate(0);
}
.mma-title a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.mma-title.press {
  opacity: 1;
}
.mma-title.press span {
  transform: rotate(180deg);
}

.mma-column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.mma-column.press {
  visibility: visible;
  padding-top: 15px;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.1s, visibility 0.1s ease-out 0.1s;
}

.mma-column-item {
  display: flex;
}
.mma-column-item a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  display: flex;
}
.mma-column-item a:hover {
  opacity: 1;
}

.mob-menu-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 0px 15px 20px;
}

.mmf-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mmf-soc-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.mmf-soc-icon a {
  display: block;
  height: 20px;
}

.mmf-facebook {
  background-image: url(image/icon-facebook-white.svg);
}

.mmf-linkedin {
  background-image: url(image/icon-linkedin-white.svg);
  background-size: 15px;
}

.mmf-google {
  background-image: url(image/icon-google-white.svg);
}

.mmf-twitter {
  background-image: url(image/icon-twitter-white.svg);
}

.mmf-final {
  text-align: center;
  color: white;
  padding: 0px 40px;
}
.mmf-final h6 {
  font-size: 10px;
  font-weight: 400;
}

.hero {
  padding: 120px 15px 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hero-image {
  height: 238px;
  padding: 0px 60px;
  background-image: url(image/HP1-hero-bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image-circle {
  width: 170px;
  height: 203px;
  margin-top: -27px;
}

.hero-image-text {
  position: absolute;
  top: -70px;
  width: 100%;
  height: 124px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
}

.hero-image-flower {
  position: absolute;
}

.hero-content {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.hero-content h2 {
  font-weight: bold;
  text-align: center;
  width: 86%;
}
.hero-content p {
  text-align: center;
  padding: 0 40px;
}

.hero-content-btns {
  margin-top: 15px;
  width: 100%;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.hero-content-btns button {
  width: 85%;
  height: 44px;
}

.hero-see-how {
  color: rgb(103, 103, 103);
  background-image: url(image/dh-grey-arrow-right.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-size: 17px;
  padding-right: 30px;
  font-size: 14px;
  width: 50%;
}
.hero-see-how:hover {
  color: #00730c;
  background-image: url(image/mh-green-right-arrow.svg);
}

.hero-content-happy {
  display: none;
}

.services {
  padding: 50px 15px;
  flex-direction: column;
  gap: 20px;
}

.services-card {
  padding: 44px 32px;
  background-color: rgba(153, 189, 165, 0.308);
  gap: 20px;
  border-radius: 10px;
  box-shadow: 1px 20px 10px rgba(144, 172, 149, 0.08);
}
.services-card:last-child {
  box-shadow: none;
}
.services-card p {
  color: black;
}

.serv-card-img {
  width: 80px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sc-img-one {
  background-image: url(image/HP1-serv-card-img1.svg);
}

.sc-img-two {
  background-image: url(image/HP1-serv-card-img2.svg);
}

.sc-img-three {
  background-image: url(image/HP1-serv-card-img3.svg);
}

.about-us {
  margin: 0 15px;
  position: relative;
  flex-direction: column;
  gap: 20px;
}

.about-us-img {
  background-image: url(image/HP1-about-us-bg1.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  justify-content: center;
  padding-left: 40px;
}

.about-us-bg-flower {
  width: 32%;
  height: 87px;
  position: absolute;
  top: 0;
  left: -15px;
  background-image: url(image/HP-1-about-us-bg-flower.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.about-us-content {
  align-items: center;
}
.about-us-content h6 {
  margin-bottom: 10px;
}
.about-us-content h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-us-content p {
  text-align: center;
  line-height: 22px;
}
.about-us-content button {
  margin-top: 40px;
  width: 50%;
  height: 44px;
}

.cta {
  padding: 50px 15px 0;
  background-image: url(image/HP1-cta-bg-img.svg);
  background-size: 312px;
  background-position-y: 31px;
  background-position-x: center;
  background-repeat: no-repeat;
  align-items: end;
}
.cta img {
  padding-left: 15px;
  width: 109px;
  height: 148px;
}

.cta-emblems {
  height: 50px;
  margin-bottom: 7px;
}

.cta-emblems-card {
  display: flex;
  justify-content: center;
}
.cta-emblems-card img {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0;
  height: 100%;
}

.latest-project {
  margin: 50px 0 100px;
}

.latest-proj-text {
  text-align: center;
  margin: 0 15px 30px;
}
.latest-proj-text p {
  line-height: 22px;
}
.latest-proj-text p:first-child {
  color: black;
  margin-bottom: 10px;
}
.latest-proj-text h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.latest-proj-content {
  margin-left: 15px;
  margin-bottom: 40px;
}

.latest-proj-buttons {
  margin-bottom: 30px;
}
.latest-proj-buttons button {
  padding: 6px 20px;
  white-space: nowrap;
  margin-right: 15px;
}

.mob-latest-proj-cards {
  box-shadow: 5px 81px 95px 0 rgba(51, 51, 51, 0.1);
}
.mob-latest-proj-cards .slick-track {
  display: flex;
}
.mob-latest-proj-cards .slick-slide {
  display: flex;
}
.mob-latest-proj-cards .slick-dots {
  bottom: -40px;
}
.mob-latest-proj-cards .slick-dots li {
  margin: 0 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  overflow: hidden;
}
.mob-latest-proj-cards .slick-dots li button {
  background-color: #00730c;
  width: inherit;
  height: inherit;
  padding: 0;
}
.mob-latest-proj-cards .slick-dots li button::before {
  display: none;
}
.mob-latest-proj-cards .slick-dots .slick-active {
  box-shadow: 0px 0px 11px 3px rgb(0, 115, 12);
}

.latest-proj-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: left;
  width: 202px;
  background: linear-gradient(17deg, rgb(255, 255, 255) -59%, rgb(234, 234, 234) 185%);
  border-radius: 5px;
  box-shadow: -48px 53px 30px -9px rgba(51, 51, 51, 0.1);
}
.latest-proj-card img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.latest-proj-card-text {
  padding: 33px 13px 22px;
}
.latest-proj-card-text h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.desktop-latest-proj-cards {
  display: none;
}

.fon-why-choose {
  background-color: rgb(217, 241, 224);
}

.why-choose {
  padding: 40px 15px;
}

.why-choose-text {
  text-align: center;
  margin-bottom: 30px;
}
.why-choose-text p {
  color: black;
  margin-bottom: 10px;
}
.why-choose-text h2 {
  font-weight: bold;
}

.why-choose-cards {
  gap: 20px;
  flex-wrap: wrap;
}

.why-choose-card {
  padding: 16px 10px;
  background-color: #fff;
  border-radius: 10px;
  flex: 1 1 calc(50% - 20px);
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.wc-card-img {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.wc-img-one {
  background-image: url(image/HP1-why-choose-img1.svg);
}

.wc-img-two {
  background-image: url(image/HP1-why-choose-img2.svg);
}

.wc-img-three {
  background-image: url(image/HP1-why-choose-img3.svg);
}

.wc-img-fourth {
  background-image: url(image/HP1-why-choose-img4.svg);
}

.wc-card-text {
  text-align: center;
}
.wc-card-text h5 {
  font-weight: bold;
  margin-bottom: 5px;
}
.wc-card-text p {
  line-height: 14px;
}

.our-team {
  padding: 50px 15px 20px;
}

.our-team-text {
  text-align: center;
  margin-bottom: 30px;
}
.our-team-text p {
  color: black;
  margin-bottom: 10px;
}
.our-team-text h2 {
  font-weight: bold;
}

.ot-card {
  position: relative;
  justify-content: center;
  margin-bottom: 50px;
}
.ot-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.ot-card-img {
  height: 251px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.ot-card-content {
  position: absolute;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 10px;
  bottom: -32px;
  width: 80%;
  text-align: center;
  box-shadow: 2px 11px 30px 0 rgba(51, 51, 51, 0.08);
}
.ot-card-content h5 {
  font-weight: bold;
  margin-bottom: 5px;
}
.ot-card-content h6 {
  font-weight: lighter;
}

.desk-our-team-cards {
  display: none;
}

.fon-our-best {
  background-color: rgba(175, 187, 178, 0.3);
  background-image: url(image/fon-with-dots.svg);
}

.our-best {
  padding: 40px 54px;
  position: relative;
}

.our-best-content {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.our-best-content h3 {
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 30px;
}
.our-best-content button {
  background-color: #fff;
  color: #00730c;
  padding: 10px 30px;
  border-radius: 5px;
  gap: 10px;
  align-items: center;
}
.our-best-content p {
  color: #00730c;
  font-weight: bolder;
}

.telephone-icon {
  width: 20px;
  height: 20px;
  background-image: url(image/telephone-icon.svg);
}

.our-best-image {
  display: none;
}

.our-best-bg-flower {
  position: absolute;
  left: 0;
  bottom: 16%;
  height: 105px;
  width: 90px;
  background-image: url(image/HP1-bg-flower1.svg);
  background-repeat: no-repeat;
}

.our-best-bg-flower-two {
  display: none;
}

.clients-say {
  padding: 50px 15px;
}

.clients-say-text {
  text-align: center;
}
.clients-say-text p {
  color: black;
  margin-bottom: 10px;
}
.clients-say-text h2 {
  font-weight: bold;
}

.clients-say-cards {
  padding: 30px 15px 55px;
  margin: 0 -15px;
}
.clients-say-cards .swiper-pagination {
  bottom: 12px;
}
.clients-say-cards .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgb(0, 115, 12);
  opacity: 1;
}
.clients-say-cards .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.clients-say-cards .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.clients-say-cards .swiper-pagination-bullet-active {
  box-shadow: 0px 0px 11px 3px rgb(0, 115, 12);
}

.cs-card {
  box-shadow: 2px 11px 30px 0 rgba(51, 51, 51, 0.08);
  padding: 30px 13px;
  border-radius: 10px;
}

.cs-card-header {
  gap: 20px;
  margin-bottom: 15px;
}

.cs-card-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-position: center;
}

.csc-one {
  background-image: url(image/HP1-clients-say-img1.svg);
}

.csc-two {
  background-image: url(image/HP1-clients-say-img2.svg);
  background-position-y: 0;
}

.cs-card-author-raiting h5 {
  font-weight: bold;
}
.cs-card-author-raiting p {
  font-size: 12px;
  margin: 5px 0 10px;
}

.cs-card-raiting {
  gap: 5px;
  align-items: center;
}
.cs-card-raiting span {
  color: rgb(103, 103, 103);
}

.cs-card-stars {
  gap: 5px;
}

.cs-card-star {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(image/yellow-star.svg);
  background-position-y: 1px;
  background-size: cover;
  transition: all 0.2s ease-out;
}

.cs-card-star.active ~ .cs-card-star {
  background-image: url(image/green-star.svg);
}

.cs-card-stars:hover .cs-card-star,
.cs-card-stars.unselected:hover .cs-card-star.active {
  background-image: url(image/yellow-star.svg);
}

.cs-card-star:hover ~ .cs-card-star,
.cs-card-stars.unselected .cs-card-star.active {
  background-image: url(image/green-star.svg);
}

.cs-card-body {
  padding-top: 30px;
  background-image: url(image/client-say-card-icon.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}
.cs-card-body p {
  line-height: 22px;
}

.cs-card-bg-flower {
  display: none;
}

.ask {
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 2px 11px 30px 0 rgba(51, 51, 51, 0.08);
}

.ask-text {
  display: none;
}

.ask-cards {
  width: 100%;
}
.ask-cards img {
  height: 212px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 100%;
}

.ask-content {
  padding: 30px 20px;
}

.ask-button-date {
  margin-bottom: 20px;
}
.ask-button-date span {
  background-color: #00730c;
  color: white;
  font-size: 12px;
  padding: 3px 26px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.ask-button-date p {
  color: #00730c;
  font-size: 12px;
}

.ask-content-text h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
.ask-content-text p {
  margin-bottom: 20px;
  line-height: 17px;
  font-size: 12px;
}
.ask-content-text a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 94px;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #00730c;
}
.ask-content-text span {
  width: 15px;
  height: 15px;
  background-image: url(image/mh-green-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.second-ask-card {
  display: none;
}

.third-ask-card {
  display: none;
}

footer {
  background-image: url(image/HP1-footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content {
  padding: 36px 15px;
  flex-direction: column;
  gap: 40px;
}
.footer-content h5 {
  font-weight: bold;
  margin-bottom: 30px;
}
.footer-content p {
  line-height: 22px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-icons {
  gap: 30px;
  margin-top: 30px;
}
.about-icons span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00730c;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}
.about-icons span:hover {
  background-color: #00730c;
}
.about-icons a {
  height: inherit;
  width: 100%;
}
.about-icons .facebook-icon {
  background-image: url(image/icon-facebook-green.svg);
}
.about-icons .facebook-icon:hover {
  background-image: url(image/icon-facebook-white.svg);
}
.about-icons .linkedin-icon {
  background-image: url(image/icon-linkedin-green.svg);
  background-size: 16px;
}
.about-icons .linkedin-icon:hover {
  background-image: url(image/icon-linkedin-white.svg);
}
.about-icons .google-icon {
  background-image: url(image/icon-google-green.svg);
  background-size: 20px;
}
.about-icons .google-icon:hover {
  background-image: url(image/icon-google-white.svg);
}
.about-icons .twitter-icon {
  background-image: url(image/icon-twitter-green.svg);
  background-size: 20px;
}
.about-icons .twitter-icon:hover {
  background-image: url(image/icon-twitter-white.svg);
}

.contacts-links {
  flex-direction: column;
  gap: 15px;
}

.contacts-link a {
  display: flex;
  gap: 8px;
  align-items: center;
}
.contacts-link span {
  width: 25px;
  height: 25px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.location-icon {
  background-image: url(image/green-location.svg);
}

.phone-icon {
  background-image: url(image/green-phone.svg);
}

.email-icon {
  background-image: url(image/green-email.svg);
}

.useful-links-columns {
  display: flex;
  gap: 70px;
}

.use-link-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.use-link-item {
  display: flex;
  gap: 10px;
}
.use-link-item a {
  color: rgb(103, 103, 103);
  font-size: 14px;
}

.us-lin-arrow {
  width: 10px;
  background-image: url(image/client-say-arrow-right.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-form {
  margin-top: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.newsletter-form input {
  width: 56%;
  font-size: 14px;
  outline: none;
  padding: 6px 10px;
}
.newsletter-form button {
  padding: 6px 25px;
}

.input-email.error {
  color: red;
}
.input-email.error::-moz-placeholder {
  color: red;
  font-weight: bolder;
}
.input-email.error::placeholder {
  color: red;
  font-weight: bolder;
}

.copyright {
  border-top: 1px solid black;
  padding: 21px 0 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.copyright p {
  font-size: 12px;
}

.final-row {
  gap: 10px;
  align-items: center;
}
.final-row span {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

@media (min-width: 375px) {
  .D1 {
    font-size: 36px;
  }
  .H3 {
    font-size: 20px;
  }
  .H5 {
    font-size: 16px;
  }
  .top-nav-menu {
    gap: 40px;
  }
  .mob-menu-wrapper {
    height: 86vh;
  }
  .hero {
    padding-top: 150px;
  }
  .hero-image-circle {
    width: 195px;
  }
  .hero-image-text {
    top: -84px;
  }
  .hero-content p {
    line-height: 22px;
  }
  .hero-content-btns {
    gap: 15px;
  }
  .hero-content-btns button {
    font-weight: bold;
  }
  .hero-see-how {
    font-size: 16px;
    width: 42%;
    padding-right: 18px;
  }
  .services-card {
    gap: 30px;
  }
  .services-card p {
    width: 68%;
  }
  .serv-card-img {
    width: 60px;
  }
  .about-us-content button {
    font-weight: bold;
  }
  .cta {
    background-size: 373px;
    background-position-y: -1px;
  }
  .cta-emblems {
    margin-bottom: 13px;
  }
  .newsletter-form input {
    width: 64%;
  }
}
@media (min-width: 425px) {
  .body-small {
    font-size: 12px;
  }
  .cta {
    background-size: 428px;
    background-position-y: -30px;
  }
  .cta-emblems {
    margin-bottom: 18px;
  }
  .mob-latest-proj-cards .slick-dots {
    bottom: -55px;
  }
  .newsletter-form input {
    width: 68%;
  }
}
@media (min-width: 768px) {
  .body-small {
    font-size: 14px;
  }
  .H6 {
    font-size: 16px;
  }
  .H5 {
    font-size: 22px;
  }
  .H4 {
    font-size: 24px;
  }
  .H3 {
    font-size: 28px;
  }
  .H1 {
    font-size: 32px;
  }
  .green-button {
    font-size: 20px;
  }
  .logo img {
    width: 120px;
  }
  .top-nav-menu {
    align-items: center;
  }
  .tn-call-btn {
    width: 180px;
    background-size: 100%;
  }
  .tn-menu-btn {
    width: 60px;
    background-size: 80%;
  }
  .mob-menu-wrapper {
    gap: 70px;
  }
  .mob-menu-accordion {
    width: 225px;
  }
  .mma-title a {
    font-size: 22px;
  }
  .mma-title h5 {
    font-size: 22px;
  }
  .mma-column-item a {
    font-size: 20px;
  }
  .mmf-soc-icon {
    width: 40px;
    height: 40px;
    background-size: 70%;
  }
  .mmf-soc-icon a {
    height: 100%;
  }
  .mmf-linkedin {
    background-size: 60%;
  }
  .mmf-final h6 {
    font-size: 15px;
  }
  .hero-image {
    padding: 0;
    width: 600px;
    height: 345px;
  }
  .hero-image-text {
    height: 225px;
  }
  .hero-image-circle {
    width: 321px;
    height: 320px;
    margin-top: 13px;
  }
  .hero-image-flower {
    width: 350px;
    margin-top: 25px;
  }
  .hero-content h2 {
    width: 65%;
    line-height: 43px;
  }
  .hero-content-btns {
    gap: 25px;
  }
  .hero-content-btns button {
    height: 52px;
  }
  .hero-see-how {
    width: 22%;
    font-size: 18px;
  }
  .services {
    flex-direction: row;
  }
  .services-card {
    padding: 28px;
    gap: 20px;
  }
  .services-card:last-child {
    box-shadow: 1px 20px 10px rgba(144, 172, 149, 0.08);
  }
  .services-card p {
    font-size: 20px;
  }
  .about-us {
    flex-direction: row;
    gap: 30px;
  }
  .about-us-img {
    min-width: 40%;
    padding-left: 0;
    align-items: end;
  }
  .about-us-img img {
    height: 430px;
    margin-left: 50px;
  }
  .about-us-bg-flower {
    background-size: 190px;
    height: 136px;
  }
  .about-us-content {
    align-items: start;
  }
  .about-us-content h2 {
    text-align: left;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .about-us-content p {
    text-align: left;
    line-height: 28px;
  }
  .about-us-content h6 {
    margin-bottom: 20px;
  }
  .about-us-content button {
    margin-top: 20px;
    height: 50px;
  }
  .cta {
    background-image: url(image/HP1-cta-desk-bg.svg);
    background-size: 954px;
    background-position-y: 106px;
    padding-top: 70px;
  }
  .cta img {
    width: 136px;
    height: 195px;
  }
  .cta-emblems {
    margin-bottom: 0px;
    height: 84px;
  }
  .cta-emblems-card img {
    width: 140px;
    height: 70px;
  }
  .latest-proj-text p {
    line-height: 28px;
  }
  .mob-latest-proj-cards {
    display: none;
  }
  .desktop-latest-proj-cards {
    display: flex;
    margin: 0 15px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .desk-latest-proj-card {
    width: calc(52% - 30px);
    background: linear-gradient(17deg, rgb(255, 255, 255) -59%, rgb(234, 234, 234) 185%);
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 48px 96px 0px rgba(51, 51, 51, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  .desk-latest-proj-card:hover .desk-latest-proj-full-info {
    display: flex;
  }
  .desk-latest-proj-card img {
    width: 100%;
    height: 259px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
  .desk-latest-proj-card.active .desk-latest-proj-full-info {
    display: flex;
  }
  .latest-proj-card-text {
    padding: 21px 24px 31px;
  }
  .latest-proj-card-text p {
    line-height: 25px;
  }
  .desk-latest-proj-full-info {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 60%;
    background-size: cover;
    border-radius: 10px;
    display: none;
  }
  .desk-lp-full-first {
    background-image: url(image/HP1-latest-proj-img1.svg);
  }
  .desk-lp-full-second {
    background-image: url(image/HP1-latest-proj-img5.svg);
  }
  .desk-lp-full-third {
    background-image: url(image/HP1-latest-proj-img2.svg);
  }
  .desk-lp-full-fourth {
    background-image: url(image/HP1-latest-proj-img3.svg);
  }
  .desk-lp-full-fifth {
    background-image: url(image/HP1-latest-proj-img4.svg);
  }
  .desk-lp-full-sixth {
    background-image: url(image/HP1-latest-proj-img1.svg);
  }
  .desk-lp-full-seventh {
    background-image: url(image/HP1-latest-proj-img3.svg);
  }
  .desk-lp-full-eighth {
    background-image: url(image/HP1-latest-proj-img2.svg);
  }
  .desk-latest-full-info-content {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    padding: 64px 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .desk-latest-full-info-content h5 {
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  .desk-latest-full-info-content p {
    color: white;
    line-height: 25px;
  }
  .desk-latest-full-info-arrow {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    justify-content: end;
  }
  .desk-latest-full-info-arrow span {
    background-image: url(image/HP1-arrow-in-circle-white.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: flex;
  }
  .desk-latest-full-info-arrow a {
    width: 100%;
  }
  .why-choose-card {
    flex: 1 1 calc(25% - 20px);
    padding: 40px 15px;
  }
  .wc-card-img {
    width: 70px;
    height: 70px;
  }
  .wc-card-text h5 {
    margin-bottom: 15px;
  }
  .wc-card-text p {
    line-height: 25px;
  }
  .our-team {
    padding: 50px 15px;
  }
  .our-team-cards {
    display: none;
  }
  .desk-our-team-cards {
    display: flex;
  }
  .desk-our-team-cards .slick-dots {
    bottom: -28px;
  }
  .desk-our-team-cards .slick-dots li {
    margin: 0 10px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    overflow: hidden;
  }
  .desk-our-team-cards .slick-dots li button {
    background-color: #00730c;
    width: inherit;
    height: inherit;
    padding: 0;
  }
  .desk-our-team-cards .slick-dots li button::before {
    display: none;
  }
  .desk-our-team-cards .slick-dots .slick-active {
    box-shadow: 0px 0px 11px 3px rgb(0, 115, 12);
  }
  .ot-card {
    display: block;
    margin: 0 15px 80px;
    cursor: pointer;
  }
  .ot-card.active .ot-card-blur,
  .ot-card:hover .ot-card-blur {
    display: flex;
  }
  .ot-card.active .ot-card-content,
  .ot-card:hover .ot-card-content {
    left: 50%;
    transform: translateX(-50%);
    bottom: -47px;
    z-index: 5;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    background-color: inherit;
    color: white;
  }
  .ot-card.active .ot-card-content-icons,
  .ot-card:hover .ot-card-content-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .ot-card-img {
    height: 310px;
  }
  .ot-card-content {
    left: 50%;
    transform: translateX(-50%);
    bottom: -47px;
    width: 90%;
    padding: 26px 40px;
  }
  .ot-card-content-icons {
    display: none;
    margin-top: 10px;
  }
  .ot-card-content-icons span {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid green;
  }
  .ot-card-content-icons a {
    width: 100%;
  }
  .ot-card-content-icons .facebook-icon {
    background-image: url(image/icon-facebook-green.svg);
  }
  .ot-card-content-icons .linkedin-icon {
    background-image: url(image/icon-linkedin-green.svg);
    background-size: 16px;
  }
  .ot-card-content-icons .google-icon {
    background-image: url(image/icon-google-green.svg);
    background-size: 20px;
  }
  .ot-card-content-icons .twitter-icon {
    background-image: url(image/icon-twitter-green.svg);
    background-size: 20px;
  }
  .ot-card-blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 10px;
    display: none;
  }
  .fon-our-best {
    background-image: url(image/HP1-footer-bg.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .our-best {
    padding: 100px 15px 40px;
    height: 350px;
    overflow: hidden;
  }
  .our-best-image {
    display: flex;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  .our-best-image img {
    max-width: 203%;
    margin-left: -90px;
  }
  .our-best-content {
    width: 50%;
    align-items: start;
    text-align: left;
  }
  .our-best-content h3 {
    line-height: 40px;
    margin-bottom: 60px;
  }
  .our-best-content button {
    background-color: #00730c;
    color: white;
    padding: 10px 35px;
  }
  .our-best-content p {
    color: #ffffff;
  }
  .telephone-icon {
    background-image: url(image/telephone-icon-white.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  .our-best-bg-flower {
    bottom: 67%;
    background-size: 114%;
    height: 116px;
  }
  .our-best-bg-flower-two {
    display: flex;
    position: absolute;
    background-image: url(image/HP1-our-best-bg-flower2.svg);
    height: 120px;
    width: 70px;
    background-size: 70px;
    background-repeat: no-repeat;
    bottom: 10%;
    left: 28%;
  }
  .clients-say-cards .swiper-pagination {
    bottom: -3px;
  }
  .clients-say-cards .swiper-pagination-bullet {
    width: 33px;
    height: 13px;
    background-color: white;
    border: 1px solid green;
    opacity: 1;
    border-radius: 5px;
  }
  .clients-say-cards .swiper-pagination-bullet-active {
    box-shadow: none;
    width: 50px;
    background-color: #00730c;
  }
  .cs-card.active,
  .cs-card:hover {
    background-color: #00730c;
    color: white;
    position: relative;
  }
  .cs-card.active p,
  .cs-card:hover p {
    color: white;
  }
  .cs-card.active span,
  .cs-card:hover span {
    color: white;
  }
  .cs-card.active .cs-card-star,
  .cs-card:hover .cs-card-star {
    background-image: url(image/yellow-star.svg);
  }
  .cs-card.active .cs-card-star.active ~ .cs-card-star,
  .cs-card:hover .cs-card-star.active ~ .cs-card-star {
    background-image: url(image/white-star.svg);
  }
  .cs-card.active .cs-card-stars:hover .cs-card-star,
  .cs-card.active .cs-card-stars.unselected:hover .cs-card-star.active,
  .cs-card:hover .cs-card-stars:hover .cs-card-star,
  .cs-card:hover .cs-card-stars.unselected:hover .cs-card-star.active {
    background-image: url(image/yellow-star.svg);
  }
  .cs-card.active .cs-card-star:hover ~ .cs-card-star,
  .cs-card.active .cs-card-stars.unselected .cs-card-star.active,
  .cs-card:hover .cs-card-star:hover ~ .cs-card-star,
  .cs-card:hover .cs-card-stars.unselected .cs-card-star.active {
    background-image: url(image/white-star.svg);
  }
  .cs-card.active .cs-card-bg-flower,
  .cs-card:hover .cs-card-bg-flower {
    display: flex;
    position: absolute;
    width: 200px;
    height: 300px;
    background-image: url(image/HP1-clients-say-card-bg-flower.svg);
    bottom: -55px;
    background-position-y: center;
    background-position-x: -100px;
    background-size: cover;
  }
  .cs-card-star {
    width: 25px;
    height: 25px;
    background-position-y: 2px;
  }
  .cs-card-author-raiting p {
    font-size: 14px;
    margin-bottom: 21px;
  }
  .cs-card-body {
    background-size: 53px;
    padding-top: 50px;
  }
  .cs-card-body p {
    line-height: 30px;
  }
  .ask {
    box-shadow: none;
    padding: 0 15px;
  }
  .ask-cards {
    gap: 30px;
  }
  .ask-card {
    border-radius: 10px;
    cursor: pointer;
  }
  .ask-card-img {
    position: relative;
  }
  .ask-card-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    display: none;
  }
  .ask-content {
    padding: 30px 30px 40px;
  }
  .ask-button-date {
    align-items: center;
    margin-bottom: 30px;
  }
  .ask-button-date span {
    background-color: #fff;
    color: #00730c;
    border: 1px solid green;
    box-shadow: none;
    padding: 3px 40px;
    font-size: 14px;
    line-height: 25px;
  }
  .ask-button-date p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .ask-content-text h5 {
    line-height: 32px;
    color: black;
    margin-bottom: 20px;
  }
  .ask-content-text p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .ask-content-text a {
    font-size: 16px;
    width: 105px;
    color: gray;
  }
  .ask-content-text span {
    display: none;
  }
  .ask-card.active,
  .ask-card:hover {
    box-shadow: 2px 11px 30px 0 rgba(51, 51, 51, 0.08);
  }
  .ask-card.active .ask-button-date span,
  .ask-card:hover .ask-button-date span {
    background-color: #00730c;
    color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  .ask-card.active .ask-content-text h5,
  .ask-card:hover .ask-content-text h5 {
    color: #00730c;
  }
  .ask-card.active .ask-content-text a,
  .ask-card:hover .ask-content-text a {
    color: #00730c;
  }
  .ask-card.active .ask-content-text span,
  .ask-card:hover .ask-content-text span {
    display: flex;
  }
  .ask-card.active .ask-card-blur,
  .ask-card:hover .ask-card-blur {
    display: flex;
  }
  .second-ask-card {
    display: flex;
    flex-direction: column;
  }
  .footer-content p {
    line-height: 30px;
  }
  .footer-items {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-item {
    flex: 1 1 calc(50% - 40px);
  }
  .about-icons span {
    width: 40px;
    height: 40px;
  }
  .contacts-link span {
    width: 30px;
    height: 30px;
  }
  .use-link-item a {
    font-size: 16px;
  }
  .newsletter-form input {
    font-size: 16px;
  }
  .copyright p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .D1 {
    font-size: 44px;
  }
  .H1 {
    font-size: 40px;
  }
  .H3 {
    font-size: 35px;
  }
  .H5 {
    font-size: 24px;
  }
  .H6 {
    font-size: 18px;
  }
  .body-small {
    font-size: 16px;
  }
  .top-navbar {
    display: none;
  }
  .fon-orange {
    background-image: url(image/HP1-desk-top-navbar-bg.svg);
  }
  .desk-top-navbar {
    display: flex;
    padding: 41px 15px 0;
    justify-content: space-between;
    align-items: center;
  }
  .desk-top-navbar a {
    display: flex;
    height: 100%;
  }
  .desk-top-nav-menu-call {
    gap: 19px;
  }
  .desk-top-nav-menu {
    display: flex;
    gap: 50px;
  }
  .desk-top-nav-menu li {
    border-bottom: 1px solid transparent;
    padding: 3px 0;
    font-size: 20px;
  }
  .desk-top-nav-menu li:hover {
    color: #00730c;
    border-bottom: 1px solid #00730c;
  }
  .tn-call-btn {
    height: 50px;
    background-size: 100% 50px;
  }
  .hero {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 80px;
    overflow: hidden;
  }
  .hero-content {
    width: 40%;
    margin: 0;
    padding-top: 50px;
    align-items: start;
    gap: 20px;
  }
  .hero-content h2 {
    text-align: left;
    line-height: 65px;
    width: 100%;
  }
  .hero-content p {
    text-align: left;
    padding: 0;
    line-height: 30px;
  }
  .hero-content-btns {
    flex-direction: row;
    margin-top: 40px;
  }
  .hero-content-btns button {
    width: 40%;
  }
  .hero-content-btns a {
    width: 39%;
  }
  .hero-content-happy {
    display: flex;
    gap: 10px;
    margin-top: 40px;
  }
  .hc-happy-icons {
    width: 175px;
  }
  .hc-happy-icons span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    background-size: cover;
    background-position-x: center;
    background-position-y: 1px;
    border: 3px solid white;
  }
  .first-happy-icon {
    background-image: url(image/desk-staff-1.png);
    position: relative;
  }
  .second-happy-icon {
    background-image: url(image/desk-staff-2.png);
    position: absolute;
    left: 55px;
  }
  .third-happy-icon {
    background-image: url(image/desk-staff-3.png);
    position: absolute;
    left: 92px;
  }
  .fourth-happy-icon {
    background-image: url(image/desk-staff-4.png);
    position: absolute;
    left: 130px;
  }
  .hc-happy-text p {
    color: black;
    font-weight: 600;
  }
  .hc-happy-rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .hc-happy-rating p {
    font-weight: 100;
  }
  .hc-happy-rating span {
    font-size: 18px;
    font-weight: bold;
  }
  .hc-happy-rating-star {
    width: 30px;
    height: 30px;
    background-image: url(image/yellow-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-image-lists {
    position: absolute;
    height: 400px;
    width: 400px;
    bottom: -195px;
    right: -140px;
    background-image: url(image/HP1-hero-bg-img.svg);
    background-size: 608px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .services {
    padding: 100px 15px;
  }
  .services-card {
    padding: 47px 28px;
  }
  .services-card p {
    font-size: 24px;
    font-weight: bold;
    width: 53%;
  }
  .serv-card-img {
    width: 100px;
    height: 100px;
  }
  .about-us-content h2 {
    line-height: 50px;
    margin-bottom: 30px;
  }
  .about-us-content p {
    font-family: "Poppins";
  }
  .about-us-content button {
    margin-top: 30px;
    width: 40%;
  }
  .about-us-bg-flower {
    height: 160px;
    background-size: 220px;
    width: 20%;
  }
  .about-us-img {
    background-size: 335px;
  }
  .about-us-img img {
    height: 467px;
  }
  .cta {
    background-size: 1290px;
    background-position-y: 147px;
    padding-top: 140px;
  }
  .cta img {
    width: 153px;
    height: 223px;
  }
  .cta-emblems {
    height: 113px;
  }
  .cta-emblems-card img {
    width: 90px;
    height: 90px;
  }
  .latest-project {
    margin: 100px 0;
  }
  .latest-proj-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .latest-proj-text p:first-child {
    margin-bottom: 30px;
  }
  .latest-proj-text p:last-child {
    font-family: "Poppins";
    width: 80%;
  }
  .latest-proj-buttons button {
    padding: 10px 26px;
  }
  .desktop-latest-proj-cards {
    gap: 15px;
  }
  .desk-latest-proj-card {
    flex: 1 1 calc(25% - 15px);
  }
  .why-choose {
    padding: 100px 15px;
  }
  .why-choose-text {
    margin-bottom: 60px;
  }
  .why-choose-card {
    cursor: pointer;
  }
  .why-choose-card:hover {
    color: #fff;
    background: linear-gradient(180deg, #04a915 0%, #005409 100%);
  }
  .why-choose-card:hover p {
    color: #fff;
  }
  .our-team {
    padding: 100px 15px 50px;
  }
  .our-team-text {
    text-align: left;
    margin-bottom: 60px;
  }
  .our-team-text p {
    margin-bottom: 30px;
  }
  .desk-our-team-cards {
    margin: 0 -15px 0;
  }
  .desk-our-team-cards .slick-arrow {
    width: 56px;
    height: 50px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #04a915;
    background-image: url(image/client-say-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .desk-our-team-cards .slick-arrow:hover {
    background-color: transparent;
    background-image: url(image/client-say-arrow-left-green.svg);
  }
  .desk-our-team-cards .slick-arrow::before {
    content: "";
  }
  .desk-our-team-cards .slick-prev {
    top: -85px;
    left: 865px;
  }
  .desk-our-team-cards .slick-next {
    top: -85px;
    right: 15px;
    transform: rotate(180deg) translateY(50%);
  }
  .ot-card-content {
    padding: 26px 30px;
  }
  .our-best {
    padding: 100px 40px 40px;
    height: 431px;
  }
  .our-best-content h3 {
    line-height: 52px;
  }
  .our-best-bg-flower-two {
    height: 143px;
    width: 89px;
    background-size: 89px;
  }
  .clients-say {
    padding: 100px 15px;
  }
  .clients-say-text p {
    margin-bottom: 30px;
  }
  .clients-say-cards {
    padding: 60px 15px 55px;
  }
  .cs-card-header {
    align-items: center;
  }
  .cs-card-img {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cs-card-author-raiting {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .cs-card-author h5 {
    margin-bottom: 15px;
  }
  .cs-card-author p {
    margin: 0;
  }
  .cs-card-raiting {
    flex-direction: column;
    gap: 10px;
  }
  .cs-card-raiting span {
    margin-left: 12px;
    font-weight: 400;
  }
  .ask-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }
  .ask-text p {
    color: black;
  }
  .ask-text h2 {
    font-weight: bold;
  }
  .third-ask-card {
    display: flex;
    flex-direction: column;
  }
  .useful-links-columns {
    gap: 135px;
  }
  .use-link-item a {
    font-size: 18px;
  }
  .newsletter-form input {
    width: 70%;
  }
}
@media (min-width: 1349px) {
  body::after {
    background: rgba(0, 0, 0, 0.308) url(image/loading.gif) center/90px no-repeat;
  }
  .container {
    min-width: 100%;
  }
  .desk-top-nav-menu-call {
    gap: 90px;
  }
  .hero-content {
    width: 50%;
  }
  .hero-content-btns a {
    width: 25%;
  }
  .cta {
    background-size: 1710px;
    background-position-y: 80px;
  }
  .cta-emblems {
    height: 130px;
  }
  .cta-emblems-card img {
    width: 140px;
    height: 100px;
  }
  .desk-our-team-cards .slick-prev {
    left: 1160px;
  }
  .cs-card-author-raiting {
    gap: 170px;
  }
  .useful-links-columns {
    gap: 215px;
  }
  .newsletter-form input {
    width: 77%;
  }
}
@media (min-width: 1440px) {
  .cta {
    background-size: 1830px;
    background-position-y: 60px;
  }
  .cta-emblems {
    height: 137px;
  }
  .desk-our-team-cards .slick-prev {
    left: 1260px;
  }
  .cs-card-author-raiting {
    gap: 220px;
  }
  .newsletter-form input {
    width: 79%;
  }
}/*# sourceMappingURL=HomePage01_style.css.map */