* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nunito";
}

.container {
  max-width: 375px;
  margin: auto;
}

.color-green {
  color: #00730c;
}

.fon-top-navbar {
  background-color: #0c4b35;
}

.fon-hero {
  background: linear-gradient(to right, #83ca8a, 60%, #fbf6ee);
}

.fon-whychoose {
  background-color: #0c4b35;
}

.top-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 183px;
  height: 20px;
  font-size: 12px;
}

.adress-and-phone {
  display: flex;
  gap: 20px;
  height: 100%;
}
.adress-and-phone a {
  display: block;
  height: 100%;
}
.adress-and-phone .adress-and-phone-punkts {
  width: 20px;
}

.mail {
  background-image: url(image/Mail.svg);
}

.email {
  display: none;
}

.phone {
  background-image: url(image/Vector.svg);
}

.phone-number {
  display: none;
}

.location {
  background-image: url(image/Location.svg);
}

.location-adress {
  display: none;
}

.language {
  gap: 5px;
  display: flex;
  align-items: center;
}

.language-menu {
  list-style: none;
  padding: 0px;
}
.language-menu a {
  text-decoration: none;
  color: white;
  display: flex;
}
.language-menu li {
  position: relative;
}
.language-menu li:hover .language-submenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.language-submenu {
  display: none;
  position: absolute;
  left: -15px;
  list-style: none;
  padding: 0px;
  background-color: #0c4b35;
  cursor: pointer;
  width: 72px;
}
.language-submenu li {
  padding-top: 5px;
  width: 100%;
}
.language-submenu a {
  display: flex;
  justify-content: center;
  width: 100%;
}
.language-submenu a:hover {
  background-color: white;
  color: #0c4b35;
}

.arrow {
  background-image: url(image/Arrow.svg);
  width: 7px;
  height: 4px;
}

.navbar {
  height: 70px;
  padding: 15px;
}

.navbar-text {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 40px;
}
.logo a {
  display: flex;
}

.mobile-call-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 110px;
}

.call-button {
  background-image: url(image/Call-Button.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  width: 40px;
  height: 100%;
}
.call-button a {
  display: flex;
  height: 100%;
}

.menu-button {
  background-image: url(image/navbar-menu.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.desktop-menu-and-call {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
}

.mobile-hero-image {
  display: flex;
  margin-top: -5px;
  height: 240px;
}

.desktop-hero-image {
  display: none;
}

.hero-content {
  margin-top: 48px;
  padding: 0px 15px;
  margin-bottom: 35px;
}

.hero-content-subheading {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.hero-content-heading {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.hero-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.hero-button button {
  width: 85%;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-color: #00730c;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.hero-button .hero-see-how {
  text-decoration: none;
  color: #00730c;
  background-image: url(image/mh-green-right-arrow.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  padding-right: 30px;
}

.mobile-hero-happy {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 41px;
}
.mobile-hero-happy .mob-hero-tag {
  font-size: 10px;
  background: linear-gradient(#fbf6ee, 90%, #a3e0a9);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  z-index: 1;
}
.mobile-hero-happy span {
  font-size: 12px;
  font-weight: 700;
}

.desktop-hero-happy {
  display: none;
}

.hero-background-flower {
  display: flex;
  background-image: url(image/mh-flower.svg);
  width: 83px;
  height: 118px;
  background-repeat: no-repeat;
  position: absolute;
  top: 680px;
}

.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 15px;
  gap: 30px;
}

.service-text {
  text-align: center;
}
.service-text h2 {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
}

p {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
}

.service-all-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
  background-image: url(image/mobile-card-background.svg);
  background-position-y: center;
  background-repeat: no-repeat;
}

.service-card-image {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.sc-first {
  background-image: url(image/mob-card-image1.svg);
}

.sc-second {
  background-image: url(image/mob-card-image2.svg);
}

.sc-third {
  background-image: url(image/mob-card-image3.svg);
}

.sc-fourth {
  background-image: url(image/mob-card-image4.svg);
}

.sc-fifth {
  background-image: url(image/mob-card-image5.svg);
}

.sc-sixth {
  background-image: url(image/mob-card-image6.svg);
}

.sc-seventh {
  background-image: url(image/mob-card-image7.svg);
}

.sc-eighth {
  background-image: url(image/mob-card-image8.svg);
}

.service-card-text {
  width: 100%;
}
.service-card-text .sc-h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.experience {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  overflow: hidden;
}

.mobile-experience-image {
  position: relative;
  width: 100%;
  height: 462px;
  display: flex;
}
.mobile-experience-image .exp-green-image {
  position: absolute;
  background-color: #00730c;
  width: 188px;
  height: 293px;
}
.mobile-experience-image .exp-image-one {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.mobile-experience-image .exp-image-two {
  z-index: 1;
  position: absolute;
  left: 103px;
  top: 300px;
}

.desktop-experience-image {
  display: none;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.experience-content h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.experience-content p {
  text-align: left;
  margin-bottom: 40px;
}

.experience-cards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.exp-card {
  flex: 1 1 calc(50% - 20px);
  width: 50%;
  padding: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
}
.exp-card .exp-card-image {
  width: 40px;
  height: 40px;
}
.exp-card .exp-card-text {
  font-size: 14px;
  margin-bottom: 0;
}

.ec-first {
  background-image: url(image/exp-card-image1.svg);
  background-position-x: center;
}

.ec-second {
  background-image: url(image/exp-card-image2.svg);
  background-position-x: center;
}

.ec-third {
  background-image: url(image/exp-card-image3.svg);
  background-position-x: center;
}

.ec-fourth {
  background-image: url(image/exp-card-image4.svg);
  background-position-x: center;
}

.experience-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.experience-button button {
  width: 167px;
  height: 40px;
  background-color: #00730c;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.whychoose {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  position: relative;
}

.mob-whychoose-image {
  z-index: 1;
}

.desktop-whychoose-image {
  display: none;
}

.whychoose-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whychoose-text {
  text-align: center;
  margin-bottom: 40px;
}
.whychoose-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.whychoose-text p {
  color: white;
  line-height: 22px;
}

.whychoose-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.whych-tags-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.whych-tags-down {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.whych-tag {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  gap: 10px;
  align-items: center;
}
.whych-tag p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.whych-tag-icon {
  width: 25px;
  height: 25px;
  background-image: url(image/whych-tag-icon.svg);
  background-position: center;
}

.whychoose-button {
  display: flex;
  justify-content: center;
}
.whychoose-button button {
  width: 167px;
  height: 40px;
  background-color: #00730c;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.whychoose-fonflower-one {
  position: absolute;
  background-image: url(image/whychoose-fonflower.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 225px;
}

.whychoose-fonflower-two {
  position: absolute;
  background-image: url(image/whychoose-fonflower-2.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 255px;
  left: 0px;
  top: 80px;
}

.working {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.working-text {
  text-align: center;
}
.working-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.working-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
  background-image: url(image/working-card-background.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 235px;
  border-radius: 5px;
}

.work-card-icons {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.work-card-icons h1 {
  color: #e3e3e3;
  font-size: 45px;
  font-weight: 800;
}

.work-card-ic {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.wc-first {
  background-image: url(image/working-icon1.svg);
}

.wc-second {
  background-image: url(image/working-icon2.svg);
}

.wc-third {
  background-image: url(image/working-icon3.svg);
  background-position-y: center;
}

.wc-fourth {
  background-image: url(image/working-icon4.svg);
}

.work-card-text {
  text-align: start;
}
.work-card-text h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.ourbest {
  padding: 0px 15px;
  height: 224px;
  position: relative;
  display: flex;
  justify-content: center;
}
.ourbest img {
  border-radius: 5px;
}

.desktop-ourbest-img {
  display: none;
}

.ourbest-content {
  position: absolute;
  top: 45px;
  width: 90%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.ourbest-content h3 {
  text-align: center;
  color: white;
}

.ourbest-button {
  background-image: url(image/ourbest-button.svg);
  height: 40px;
  width: 140px;
  background-repeat: no-repeat;
  background-position-x: -27px;
  background-position-y: -19px;
}
.ourbest-button a {
  display: flex;
  height: 100%;
}

@media (max-width: 320px) {
  .top-navbar-text {
    gap: 120px;
  }
  .experience-content p {
    text-align: center;
  }
  .work-card {
    background-position-x: 190px;
  }
  .ourbest-content {
    top: 25px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1420px;
  }
  .top-navbar-text {
    width: 1390px;
    height: 25px;
    font-family: "Poppins";
    font-size: 14px;
  }
  .adress-and-phone {
    gap: 10px;
  }
  .adress-and-phone .adress-and-phone-punkts {
    width: 25px;
    height: 25px;
    background-size: 24px;
    background-repeat: no-repeat;
  }
  .adress-and-phone a {
    text-decoration: none;
    color: white;
  }
  .adress-and-phone .email {
    display: flex;
    margin-right: 20px;
  }
  .adress-and-phone .phone-number {
    display: flex;
    margin-right: 20px;
  }
  .adress-and-phone .location-adress {
    display: flex;
  }
  .language-submenu {
    width: 86px;
  }
  .navbar {
    height: 85px;
    font-size: 16px;
  }
  .logo {
    height: 55px;
  }
  .logo img {
    width: 120px;
    height: 55px;
  }
  .mobile-call-and-menu {
    display: none;
  }
  .desktop-menu-and-call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 101px;
  }
  .desktop-navbar-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0px;
  }
  .desktop-navbar-menu a {
    text-decoration: none;
    color: black;
  }
  .desktop-navbar-menu a:hover {
    color: #00730c;
  }
  .desktop-navbar-menu li {
    position: relative;
  }
  .desktop-navbar-menu li:hover .navbar-submenu {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .desktop-navbar-menu .arrow {
    background-image: url(image/arrow-black.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    padding-right: 15px;
  }
  .desktop-navbar-menu .navbar-submenu {
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
    padding-top: 10px;
    width: 70px;
    background-color: white;
  }
  .desktop-navbar-menu .navbar-submenu li {
    width: 100%;
  }
  .desktop-navbar-menu .navbar-submenu a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .desktop-navbar-menu .ns-one {
    left: -10px;
  }
  .desktop-navbar-menu .navbar-submenu a:hover {
    background-color: #0c4b35;
    color: white;
  }
  .desktop-call-button {
    background-image: url(image/laptop-call-button.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
    width: 170px;
    height: 100%;
    cursor: pointer;
  }
  .desktop-call-button a {
    display: flex;
    height: 100%;
  }
  .hero {
    flex-direction: row-reverse;
    padding-top: 46px;
    align-items: center;
  }
  .hero-content {
    margin: 0px;
    padding-right: 40px;
  }
  .hero-content-subheading {
    text-transform: capitalize;
    font-size: 16px;
  }
  .hero-content-heading {
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 50px;
  }
  .hero-text {
    color: #676767;
    font-size: 18px;
  }
  .hero-button {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-size: 18px;
  }
  .hero-button button {
    width: 175px;
    height: 50px;
    font-size: 18px;
  }
  .hero-button .hero-see-how {
    color: #676767;
    background-image: url(image/dh-grey-arrow-right.svg);
  }
  .mobile-hero-happy {
    display: none;
  }
  .desktop-hero-happy {
    display: flex;
    margin-top: 50px;
    gap: 10px;
  }
  .desktop-hero-happy .desktop-hero-tag {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    height: 50px;
    width: 149px;
  }
  .desktop-hero-happy .tag-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    background: linear-gradient(#fbf6ee, 90%, #a3e0a9);
    border-radius: 50px;
  }
  .mobile-hero-image {
    display: none;
  }
  .desktop-hero-image {
    display: flex;
    max-width: 50%;
    min-width: 50%;
  }
  .hero-background-flower {
    display: none;
  }
  .service {
    padding: 100px 20px;
    gap: 50px;
  }
  .service-text {
    width: 70%;
  }
  .service-text h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  .service-all-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
  .service-card {
    flex: 1 1 calc(25% - 30px);
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 43px;
    background-image: url(image/desktop-serv-card-background.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
  }
  .service-card:hover {
    background-color: #00730c;
  }
  .service-card:hover .sc-h3,
  .service-card:hover p {
    color: white;
  }
  .service-card:hover .sc-first {
    background-image: url(image/desktop-card-image1.svg);
  }
  .service-card-image {
    width: 70px;
    height: 70px;
  }
  .service-card-text {
    text-align: center;
  }
  .service-card-text .sc-h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .service-card-text p {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 28px;
  }
  .experience {
    flex-direction: row;
    align-items: flex-start;
    gap: 27px;
    padding: 0px 20px;
    height: 903px;
  }
  .mobile-experience-image {
    display: none;
  }
  .desktop-experience-image {
    display: flex;
    max-width: 50%;
    min-width: 50%;
    height: 100%;
    position: relative;
  }
  .desktop-experience-image .desktop-exp-green-image {
    width: 450px;
    height: 706px;
    background-color: #00730c;
    position: absolute;
  }
  .desktop-experience-image .desktop-exp-image-one {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
  }
  .desktop-experience-image .desktop-exp-image-two {
    z-index: 1;
    top: 570px;
    left: 237px;
    position: absolute;
  }
  .experience-content h2 {
    font-size: 45px;
    font-weight: 800;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .experience-content p {
    font-family: "Poppins";
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 28px;
  }
  .experience-cards {
    gap: 30px;
    margin-bottom: 50px;
  }
  .exp-card {
    flex-direction: row;
    box-shadow: none;
    gap: 30px;
    padding: 15px 5px 15px 30px;
  }
  .exp-card .exp-card-image {
    width: 67px;
    height: 67px;
    background-size: cover;
  }
  .exp-card .exp-card-text {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
  }
  .experience-button {
    margin-bottom: 30px;
    width: 100%;
    justify-content: start;
  }
  .experience-button button {
    width: 190px;
    height: 50px;
    font-size: 18px;
  }
  .whychoose {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    padding: 100px 20px;
    margin: 100px 0px;
  }
  .whychoose-content {
    width: 656px;
    align-items: start;
  }
  .whychoose-text {
    text-align: left;
    margin-bottom: 50px;
  }
  .whychoose-text h2 {
    font-size: 45px;
    margin-bottom: 30px;
  }
  .whychoose-text p {
    line-height: 30px;
  }
  .whychoose-tags {
    width: 90%;
    margin-bottom: 60px;
  }
  .whych-tags-top {
    gap: 118px;
  }
  .whych-tags-down {
    gap: 118px;
  }
  .whych-tag {
    gap: 20px;
  }
  .whych-tag p {
    font-size: 24px;
  }
  .whych-tag-icon {
    height: 30px;
    width: 30px;
  }
  .mob-whychoose-image {
    display: none;
  }
  .desktop-whychoose-image {
    display: flex;
    box-shadow: 0px 3px 15px -2px rgb(31, 29, 29);
  }
  .whychoose-fonflower-one {
    display: none;
  }
  .whychoose-fonflower-two {
    display: none;
  }
  .whychoose-button button {
    width: 190px;
    height: 50px;
    font-size: 18px;
  }
  .working {
    padding: 0px 20px;
    gap: 50px;
    margin-bottom: 100px;
  }
  .working-text h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .working-cards {
    gap: 30px;
    flex-direction: row;
  }
  .work-card {
    padding: 50px 29px 70px;
    gap: 35px;
    background-image: url(image/desktop-working-card-backgr.svg);
    background-position-x: 180px;
    background-position-y: 105px;
  }
  .work-card-icons {
    height: 80px;
  }
  .work-card-icons h1 {
    font-size: 78px;
  }
  .work-card-ic {
    width: 70px;
    height: 70px;
    background-size: contain;
  }
  .work-card:hover {
    background-color: #00730c;
    background-image: url(image/hover-desk-working-card-backg.svg);
  }
  .work-card:hover h1,
  .work-card:hover h3,
  .work-card:hover p {
    color: white;
  }
  .work-card:hover .wc-first {
    background-image: url(image/working-icon1-white.svg);
  }
  .work-card-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .ourbest {
    padding: 0px 20px;
    height: 247px;
    justify-content: end;
  }
  .mobile-ourbest-img {
    display: none;
  }
  .desktop-ourbest-img {
    display: flex;
  }
  .ourbest-content {
    flex-direction: row;
    width: 52%;
    gap: 85px;
    top: 78px;
  }
  .ourbest-content h3 {
    width: 448px;
    font-size: 33px;
    text-align: left;
  }
  .ourbest-button {
    height: 50px;
    width: 170px;
    background-image: url(image/desktop-ourbest-button.png);
    background-position-y: -7px;
    background-position-x: -9px;
  }
}/*# sourceMappingURL=style.css.map */