* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nunito";
}

// header {
//   position: sticky;
//   top: 0;
//   z-index: 50;
// }

.container {
  max-width: 375px;
  margin: auto;
}

.color-green {
  color: #00730c;
}

.fon-top-navbar {
  background-color: #0c4b35;
}

.fon-hero {
  background: linear-gradient(to right, #83ca8a, 60%, #fbf6ee);
}

.fon-whychoose {
  background-color: #0c4b35;
}

.fon-clients-say {
  background-color: #cee6d5;
}

footer {
  background-color: #0c4b35;
}
// -----top navbar-------

.top-navbar {
  width: 100%;
  height: 60px;
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 183px;
  height: 20px;
  font-size: 12px;
}

.adress-and-phone {
  display: flex;
  gap: 20px;
  height: 100%;

  a {
    display: block;
    height: 100%;
  }

  .adress-and-phone-punkts {
    width: 20px;
  }
}

.mail {
  background-image: url(image/Mail.svg);
}

.email {
  display: none;
}

.phone {
  background-image: url(image/Vector.svg);
}

.phone-number {
  display: none;
}

.location {
  background-image: url(image/Location.svg);
}

.location-adress {
  display: none;
}

.language {
  gap: 5px;
  display: flex;
  align-items: center;
}

.language-menu {
  list-style: none;
  padding: 0px;

  a {
    text-decoration: none;
    color: white;
    display: flex;
  }

  li {
    position: relative;
  }

  li:hover .language-submenu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.language-submenu {
  display: none;
  position: absolute;
  left: -15px;
  list-style: none;
  padding: 0px;
  background-color: #0c4b35;
  cursor: pointer;
  width: 72px;

  li {
    padding-top: 5px;
    width: 100%;
  }

  a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  a:hover {
    background-color: white;
    color: #0c4b35;
  }
}

.arrow {
  background-image: url(image/Arrow.svg);
  width: 7px;
  height: 4px;
}
// ----------------navbar------------------
.navbar {
  height: 70px;
  padding: 15px;
  background-color: white;
}

.navbar-text {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 40px;

  a {
    display: flex;
  }
}

.mobile-call-and-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 110px;
}

.call-button {
  background-image: url(image/Call-Button.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  width: 40px;
  height: 100%;

  a {
    display: flex;
    height: 100%;
  }
}

.menu-button {
  background-image: url(image/navbar-menu.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.desktop-menu-and-call {
  display: none;
}

// ----------hero------------
.hero {
  // margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
}

.mobile-hero-image {
  display: flex;
  margin-top: -5px;
  height: 240px;
}

.desktop-hero-image {
  display: none;
}

.hero-content {
  margin-top: 48px;
  padding: 0px 15px;
  margin-bottom: 35px;
}

.hero-content-subheading {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.hero-content-heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hch-p {
  font-size: 28px;
  font-weight: bold;
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.hero-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;

  button {
    width: 85%;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #00730c;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }

  .hero-see-how {
    text-decoration: none;
    color: #00730c;
    background-image: url(image/mh-green-right-arrow.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    padding-right: 30px;
  }
}

.mobile-hero-happy {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 41px;

  .mob-hero-tag {
    font-size: 10px;
    background: linear-gradient(#fbf6ee, 90%, #a3e0a9);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    z-index: 1;
  }

  span {
    font-size: 12px;
    font-weight: 700;
  }
}

.desktop-hero-happy {
  display: none;
}

.hero-background-flower {
  display: flex;
  background-image: url(image/mh-flower.svg);
  width: 83px;
  height: 118px;
  background-repeat: no-repeat;
  position: absolute;
  top: 680px;
}

// ------service------
.service {
  // margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 15px;
  gap: 30px;
}

.service-text {
  text-align: center;

  h2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
  }
}

p {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
}

.service-all-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
  background-image: url(image/mobile-card-background.svg);
  background-position-y: center;
  background-repeat: no-repeat;
}

.service-card-image {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.sc-first {
  background-image: url(image/mob-card-image1.svg);
}
.sc-second {
  background-image: url(image/mob-card-image2.svg);
}
.sc-third {
  background-image: url(image/mob-card-image3.svg);
}
.sc-fourth {
  background-image: url(image/mob-card-image4.svg);
}
.sc-fifth {
  background-image: url(image/mob-card-image5.svg);
}
.sc-sixth {
  background-image: url(image/mob-card-image6.svg);
}
.sc-seventh {
  background-image: url(image/mob-card-image7.svg);
}
.sc-eighth {
  background-image: url(image/mob-card-image8.svg);
}

.service-card-text {
  width: 100%;

  .sc-h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

// ---------experience----------
.experience {
  // margin: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px;
  // margin: 0px 15px;
  overflow: hidden;
}

.mobile-experience-image {
  position: relative;
  width: 100%;
  height: 462px;
  display: flex;

  .exp-green-image {
    position: absolute;
    background-color: #00730c;
    width: 188px;
    height: 293px;
  }

  .exp-image-one {
    z-index: 1;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .exp-image-two {
    z-index: 1;
    position: absolute;
    left: 103px;
    top: 300px;
  }
}

.desktop-experience-image {
  display: none;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    text-align: left;
    margin-bottom: 40px;
  }
}

.experience-cards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.exp-card {
  flex: 1 1 calc(50% - 20px);
  width: 50%;
  padding: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);

  .exp-card-image {
    width: 40px;
    height: 40px;
  }

  .exp-card-text {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.ec-first {
  background-image: url(image/exp-card-image1.svg);
  background-position-x: center;
}
.ec-second {
  background-image: url(image/exp-card-image2.svg);
  background-position-x: center;
}
.ec-third {
  background-image: url(image/exp-card-image3.svg);
  background-position-x: center;
}
.ec-fourth {
  background-image: url(image/exp-card-image4.svg);
  background-position-x: center;
}

.experience-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  button {
    width: 167px;
    height: 40px;
    background-color: #00730c;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

// -------whychoose----
.whychoose {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  position: relative;
}

.mob-whychoose-image {
  z-index: 1;
}

.desktop-whychoose-image {
  display: none;
}

.whychoose-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whychoose-text {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  p {
    color: white;
    line-height: 22px;
  }
}

.whychoose-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.whych-tags-top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.whych-tags-down {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.whych-tag {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}

.whych-tag-icon {
  width: 25px;
  height: 25px;
  background-image: url(image/whych-tag-icon.svg);
  background-position: center;
}

.whychoose-button {
  display: flex;
  justify-content: center;

  button {
    width: 167px;
    height: 40px;
    background-color: #00730c;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

.whychoose-fonflower-one {
  position: absolute;
  background-image: url(image/whychoose-fonflower.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 225px;
}
.whychoose-fonflower-two {
  position: absolute;
  background-image: url(image/whychoose-fonflower-2.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 255px;
  left: 0px;
  top: 80px;
}

// -----working-------
.working {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.working-text {
  text-align: center;

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.working-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
  background-image: url(image/working-card-background.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 235px;
  border-radius: 5px;
}

.work-card-icons {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;

  h1 {
    color: #e3e3e3;
    font-size: 45px;
    font-weight: 800;
  }
}

.work-card-ic {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.wc-first {
  background-image: url(image/working-icon1.svg);
}
.wc-second {
  background-image: url(image/working-icon2.svg);
}
.wc-third {
  background-image: url(image/working-icon3.svg);
  background-position-y: center;
}
.wc-fourth {
  background-image: url(image/working-icon4.svg);
}

.work-card-text {
  text-align: start;

  h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

// ----ourbest---
.ourbest {
  padding: 0px 15px;
  height: 224px;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    border-radius: 5px;
  }
}

.desktop-ourbest-img {
  display: none;
}

.ourbest-content {
  position: absolute;
  top: 45px;
  width: 90%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;

  h3 {
    text-align: center;
    color: white;
  }
}

.ourbest-button {
  background-image: url(image/ourbest-button.svg);
  height: 40px;
  width: 140px;
  background-repeat: no-repeat;
  background-position-x: -27px;
  background-position-y: -19px;

  a {
    display: flex;
    height: 100%;
  }
}

// ------our staff -----
.our-staff {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.our-staff-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  button {
    width: 167px;
    height: 40px;
    background-color: #00730c;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
  }
}

.mob-our-staff-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  img {
    border-radius: 5px;
  }
}

.staff-card {
  position: relative;
}

.staff-name {
  position: absolute;
  height: 62px;
  width: 100%;
  background: linear-gradient(
    (to top, rgb(0, 115, 12) 4.95%, rgba(0, 115, 12, 0) 264.79%)
  );
  bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  color: white;

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
  }
}

.staff-slides {
  display: flex;
  gap: 12px;
}

.st-slide {
  width: 20px;
  height: 6px;
  background-color: #00730c;
  border-radius: 8px;
}

.center-sl {
  width: 50px;
}

.desk-our-staff-cards {
  display: none;
}

// ---clients say---
.clients-say {
  height: 585px;
  padding: 50px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  margin-bottom: 175px;

  h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

.client-say-info {
  margin-bottom: 40px;
}

.cs-arrows {
  display: none;
}

.clients-say-cards {
  width: 100%;
  background-color: white;
}

// clients-say слайдер
.slick-initialized .slick-slide {
  display: flex;
}

// clients-say карточки
.cs-card {
  padding: 20px;
  box-shadow: -8px -54px 20px 2px rgb(243, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cs-card-img {
  display: flex;

  img {
    width: 135px;
    height: 183px;
  }
}

.cs-text {
  padding-top: 13px;
  background-image: url(image/client-say-card-icon.svg);
  background-repeat: no-repeat;
  background-size: 30px;

  p {
    text-align: left;
    line-height: 22px;
    margin-bottom: 15px;
  }
}

.cs-text-row {
  display: flex;
  justify-content: space-between;
}

.cs-name {
  text-align: left;

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
    font-weight: 400;
    color: #676767;
  }
}

// Альтернатива рейтингу (замість div raiting)

// .cs-stars {
//   display: flex;
//   // gap: 10px;
//   align-items: center;
//   position: relative;
//   width: 80px;
//   height: 20px;
//   margin: 9px 0 9px 0;
//   background-image: url(image/green-star.svg);
//   background-repeat: repeat-x;
// }

// .raiting-star {
//   appearance: none;
//   -webkit-appereance: none;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 20px;
//   height: 20px;
// }

// .raiting-star:checked,
// .raiting-star:hover {
//   background-image: url(image/yellow-star.svg);
//   background-size: 20px;
//   background-repeat: repeat-x;
//   background-position-y: 0.45px;
// }

// .one-rs {
//   width: 20px;
//   z-index: 4;
// }
// .two-rs {
//   width: 40px;
//   z-index: 3;
// }
// .three-rs {
//   width: 60px;
//   z-index: 2;
// }
// .fourth-rs {
//   width: 80px;
//   z-index: 1;
// }

.raiting {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;

  input {
    display: none;
  }

  input:checked + label:before,
  input:checked ~ label:before {
    opacity: 1;
  }

  label {
    width: 20px;
    height: 20px;
    background-image: url(image/green-star.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;

    &:hover::before {
      opacity: 1;
    }

    &:hover ~ label::before {
      opacity: 1;
    }
  }

  label:before {
    content: "";
    display: block;
    background-image: url(image/yellow-star.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
  }
}

// --frequently--
.frequently {
  padding: 0px 15px;
}

.frequently-content {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.freq-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    font-size: 28px;
  }
}

.freq-questions-answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.freq-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fra-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 5px;
  cursor: pointer;
  background-color: #fff8f1;
  border-radius: 3px;

  &:hover {
    background-color: #00730c;
    color: white;

    span:before,
    span:after {
      background-color: white;
    }
  }

  span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
    // це означає прозорий бекграунд

    &::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 2px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // попередні 3 властивості- центрування before по центру у та х
      background-color: black;
    }
    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 80%;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      // а тут центрування за рахунок margin з усіма нулями
      transition: transform 0.5s ease-out;
      // transition-для плавності повороту
      transform: rotate(0);
      // rotate(0) означає, що коли .fra-title не active, то span:after прокручується в нульове положення
      background-color: black;
    }
  }
}

.fra-title.active {
  background-color: #00730c;
  color: white;

  span:after {
    transform: rotate(90deg);
    // rotate(90deg) означає, що коли .fra-title  active, то span:after прокручується на 90 градусів
    background-color: white;
  }

  span:before {
    background-color: white;
  }
}

.fra-content {
  padding: 0px 15px;
  color: #676767;
  font-size: 14px;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.fra-content.active {
  visibility: visible;
  opacity: 1;
  padding-top: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.1s, visibility 0.1s ease-out 0.1s;
  // цей transition потрібен для плавного з'явлення параграфу, а попередній для плавного скривання
}

.frequently-image {
  display: none;
}

// our insights

.our-insights {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.our-insights-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 28px;
  }
}

// our-insights slider

.swiper {
  display: flex;
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.oic-pagination {
  display: none;
}

.our-insights-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: auto;
  box-shadow: 40px -19px 70px 30px rgba(51, 51, 51, 0.08);
}

.oic-white-fon {
  background-image: url(image/our-insights-card-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.oic-picture1-fon {
  background: url(image/our-insights-card-desktop.png) lightgray 50% / cover
    no-repeat;
  justify-content: space-between;
  position: relative;

  .oi-tag {
    margin-bottom: 80px;
  }

  .oi-text {
    h3,
    p {
      color: white;
    }
  }

  .oi-row {
    h4 {
      color: white;
    }
  }

  .oi-admin {
    h6 {
      color: white;
    }
  }

  .oi-admin-icon {
    background-image: url(image/our-insights-white-admin.svg);
  }
}

.oic-picture1-fon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 5px;
}

.oic-picture2-fon {
  background: url(image/our-insights-card-desktop2.png) lightgray 50% / cover
    no-repeat;
  justify-content: space-between;
  position: relative;

  .oi-tag {
    margin-bottom: 80px;
  }

  .oi-text {
    h3,
    p {
      color: white;
    }
  }

  .oi-row {
    h4 {
      color: white;
    }
  }

  .oi-admin {
    h6 {
      color: white;
    }
  }

  .oi-admin-icon {
    background-image: url(image/our-insights-white-admin.svg);
  }
}

.oic-picture2-fon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 5px;
}

.oi-card-tag-and-text {
  padding: 30px 20px;
}

.oi-tag {
  height: 30px;
  width: 122px;
  background-color: #d9f1e0;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #00730c;
  margin-bottom: 40px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.oi-text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h3 {
    font-size: 16px;
    color: #00730c;
    font-weight: 700;
    width: 78%;
  }
}

.oi-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 10px 0px 30px;
  border-top: 1px solid #e3e3e3;

  h4 {
    color: #676767;
    font-size: 14px;
  }
}

.oi-admin {
  display: flex;
  gap: 10px;
  align-items: end;

  h6 {
    color: #676767;
    font-size: 14px;
    font-weight: 400;
  }
}

.oi-admin-icon {
  width: 20px;
  height: 20px;
  background-image: url(image/our-insights-green-admin.svg);
}

.our-insights-dashes {
  display: none;
}

// company logos
.mob-company-logos {
  display: flex;
  padding: 0px 30px 50px;
  justify-content: space-between;

  img {
    filter: grayscale(100%);
  }
}

.desk-company-logos {
  display: none;
}

// we have

.we-have {
  padding: 0px 30px;
  height: 90px;
}

.we-have-card {
  padding: 30px 50px;
  background-color: #d9f1e0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  z-index: 1;

  h3 {
    text-align: center;
    font-size: 20px;
  }

  button {
    border: #00730c;
    background-color: #00730c;
    color: white;
    border-radius: 5px;
    width: 153px;
    height: 40px;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}

// foot-content
.foot-content {
  padding: 139px 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;

  h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
}

// --subscribe-

.subscribe {
  p {
    color: white;
    margin-bottom: 30px;
  }
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 15px;

  input {
    background-color: #0c4b35;
    border: none;
    color: white;
    outline: none;
    font-family: "Nunito";
    font-size: 14px;

    &::placeholder {
      color: white;
    }
  }

  button {
    border: #0c4b35;
    background-color: #0c4b35;
    color: white;
    font-family: "Nunito";
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
  }
}

.social-icons {
  display: flex;
  gap: 20px;
}

.soc-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  a {
    display: block;
    height: 30px;
  }

  &:hover {
    background-color: white;
  }
}

.si-first {
  background-image: url(image/icon-facebook-white.svg);
  &:hover {
    background-image: url(image/icon-facebook-green.svg);
  }
}

.si-second {
  background-image: url(image/icon-twitter-white.svg);
  &:hover {
    background-image: url(image/icon-twitter-green.svg);
  }
}

.si-third {
  background-image: url(image/icon-google-white.svg);
  &:hover {
    background-image: url(image/icon-google-green.svg);
  }
}

.si-fourth {
  background-size: 13px;
  background-image: url(image/icon-linkedin-white.svg);
  &:hover {
    background-image: url(image/icon-linkedin-green.svg);
  }
}

// contacts
.contacts {
  h6:last-child {
    margin: 0;
  }
}

// useful links
.useful-links-columns {
  display: flex;
  gap: 100px;
}

.use-link-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.use-link-item {
  display: flex;
  gap: 10px;
}

.us-lin-arrow {
  width: 10px;
  background-image: url(image/client-say-arrow-right.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

// popular
.popular {
  display: flex;
  flex-direction: column;
}

.popular-item {
  margin-bottom: 10px;

  &:last-child {
    margin: 0;
  }
}

// final

.mob-foot-final {
  margin: 0px 15px;
  padding: 15px 0px 40px;
  border-top: 1px solid white;
  text-align: center;

  p {
    color: white;
    font-size: 12px;
    padding: 0px 11px;
    margin-bottom: 20px;
  }
}

.final-row {
  display: flex;
  gap: 30px;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
}

.desk-foot-final {
  display: none;
}

// = = = = Mobile Main Menu = = = =

.main-menu-close-btn {
  background-image: url(image/main-menu-close-btn.svg);
  background-repeat: no-repeat;
  background-position-y: 3px;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.main-menu-content {
  padding: 25px 15px 84px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-menu-cont-item {
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.main-men-accordion {
  display: flex;
  flex-direction: column;
  width: 143px;
}

.mma-title {
  display: flex;
  gap: 8px;
  opacity: 0.7;
  align-items: center;

  &:hover {
    opacity: 1;
  }

  h5 {
    color: #fff;
    font-size: 16px;
  }

  span {
    width: 12px;
    height: 12px;
    background-image: url(image/Arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
    transition: transform 0.5s ease-out;
    transform: rotate(0);
  }
}

.mma-title.press {
  opacity: 1;

  span {
    transform: rotate(180deg);
  }
}

.mma-column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.mma-column.press {
  visibility: visible;
  padding-top: 15px;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out,
    opacity 0.1s ease-out 0.1s, visibility 0.1s ease-out 0.1s;
}

.mma-column-item {
  display: flex;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    display: flex;

    &:hover {
      opacity: 1;
    }
  }
}

.main-menu-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 0px 15px 20px;
}

.mmf-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mmf-soc-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;

  a {
    display: block;
    height: 20px;
  }
}

.mmf-facebook {
  background-image: url(image/icon-facebook-white.svg);
}
.mmf-linkedin {
  background-image: url(image/icon-linkedin-white.svg);
  background-size: 15px;
}
.mmf-google {
  background-image: url(image/icon-google-white.svg);
}
.mmf-twitter {
  background-image: url(image/icon-twitter-white.svg);
}

.mmf-final {
  text-align: center;
  color: white;
  padding: 0px 40px;

  h6 {
    font-size: 10px;
    font-weight: 400;
  }
}

// ----------------Mobile S Adaptation---------------------
@media (max-width: 320px) {
  .top-navbar-text {
    gap: 120px;
  }

  .experience-content {
    p {
      text-align: center;
    }
  }

  .work-card {
    background-position-x: 190px;
  }

  .ourbest-content {
    top: 25px;
  }

  .fra-title {
    font-size: 11px;
  }

  .oi-text {
    h3 {
      width: 94%;
    }
  }

  .we-have {
    height: 107px;
  }
}

// ---------------Desktop Adaptation-------------------------

@media (min-width: 1440px) {
  .container {
    max-width: 1420px;
  }

  // -------top-navbar---------

  .top-navbar-text {
    width: 1390px;
    height: 25px;
    font-family: "Poppins";
    font-size: 14px;
  }

  .adress-and-phone {
    gap: 10px;

    .adress-and-phone-punkts {
      width: 25px;
      height: 25px;
      background-size: 24px;
      background-repeat: no-repeat;
    }

    a {
      text-decoration: none;
      color: white;
    }

    .email {
      display: flex;
      margin-right: 20px;
    }

    .phone-number {
      display: flex;
      margin-right: 20px;
    }

    .location-adress {
      display: flex;
    }
  }

  .language-submenu {
    width: 86px;
  }
  // -----navbar-----
  .navbar {
    height: 85px;
    font-size: 16px;
  }

  .logo {
    height: 55px;
    img {
      width: 120px;
      height: 55px;
    }
  }

  .mobile-call-and-menu {
    display: none;
  }

  .desktop-menu-and-call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 101px;
  }

  .desktop-navbar-menu {
    ul {
      display: flex;
      list-style: none;
      gap: 40px;
      padding: 0px;
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: #00730c;
      }
    }

    li {
      position: relative;

      &:hover .navbar-submenu {
        display: flex;
        opacity: 1;
        visibility: visible;
      }
    }

    .arrow {
      background-image: url(image/arrow-black.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: right;
      padding-right: 15px;
    }

    .navbar-submenu {
      flex-direction: column;
      gap: 10px;
      display: none;
      position: absolute;
      padding-top: 10px;
      width: 70px;
      background-color: white;

      li {
        width: 100%;
      }

      a {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .ns-one {
      left: -10px;
    }

    .navbar-submenu a:hover {
      background-color: #0c4b35;
      color: white;
    }
  }

  .desktop-call-button {
    background-image: url(image/laptop-call-button.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
    width: 170px;
    height: 100%;
    cursor: pointer;

    a {
      display: flex;
      height: 100%;
    }
  }

  // ----------hero---------
  .hero {
    flex-direction: row-reverse;
    padding-top: 46px;
    align-items: center;
  }

  .hero-content {
    margin: 0px;
    padding-right: 40px;
  }

  .hero-content-subheading {
    text-transform: capitalize;
    font-size: 16px;
  }

  .hero-content-heading {
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 50px;
  }

  .hch-p {
    font-size: 58px;
    line-height: 1;
  }

  .hero-text {
    color: #676767;
    font-size: 18px;
  }

  .hero-button {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-size: 18px;

    button {
      width: 175px;
      height: 50px;
      font-size: 18px;
    }

    .hero-see-how {
      color: #676767;
      background-image: url(image/dh-grey-arrow-right.svg);
    }
  }

  .mobile-hero-happy {
    display: none;
  }

  .desktop-hero-happy {
    display: flex;
    margin-top: 50px;
    gap: 10px;

    .desktop-hero-tag {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      height: 50px;
      width: 149px;
    }

    .tag-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 45px;
      background: linear-gradient(#fbf6ee, 90%, #a3e0a9);
      border-radius: 50px;
    }
  }

  .mobile-hero-image {
    display: none;
  }

  .desktop-hero-image {
    display: flex;
    max-width: 50%;
    min-width: 50%;
  }

  .hero-background-flower {
    display: none;
  }

  // -------service----------
  .service {
    padding: 100px 20px;
    gap: 50px;
  }

  .service-text {
    width: 70%;

    h2 {
      font-size: 45px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .service-all-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .service-card {
    flex: 1 1 calc(25% - 30px);
    width: 25%;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 60px 43px;
    background-image: url(image/desktop-serv-card-background.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
  }

  .service-card:hover {
    background-color: #00730c;

    .sc-h3,
    p {
      color: white;
    }

    .sc-first {
      background-image: url(image/desktop-card-image1.svg);
    }
    .sc-second {
      background-image: url(image/desk-serv-card-img2-white.svg);
    }
    .sc-third {
      background-image: url(image/desk-serv-card-img3-white.svg);
    }
    .sc-fourth {
      background-image: url(image/desk-serv-card-img4-white.svg);
    }
    .sc-fifth {
      background-image: url(image/desk-serv-card-img5-white.svg);
    }
    .sc-sixth {
      background-image: url(image/desk-serv-card-img6-white.svg);
    }
    .sc-seventh {
      background-image: url(image/desk-serv-card-img7-white.svg);
    }
    .sc-eighth {
      background-image: url(image/desk-serv-card-img8-white.svg);
    }
  }

  .service-card-image {
    width: 70px;
    height: 70px;
  }

  .service-card-text {
    text-align: center;

    .sc-h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-family: "Poppins";
      font-size: 16px;
      line-height: 28px;
    }
  }

  // -----experience----
  .experience {
    flex-direction: row;
    align-items: flex-start;
    gap: 27px;
    padding: 0px 20px;
    height: 903px;
  }

  .mobile-experience-image {
    display: none;
  }

  .desktop-experience-image {
    display: flex;
    max-width: 50%;
    min-width: 50%;
    height: 100%;
    position: relative;

    .desktop-exp-green-image {
      width: 450px;
      height: 706px;
      background-color: #00730c;
      position: absolute;
    }

    .desktop-exp-image-one {
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 1;
    }

    .desktop-exp-image-two {
      z-index: 1;
      top: 570px;
      left: 237px;
      position: absolute;
    }
  }

  .experience-content {
    h2 {
      font-size: 45px;
      font-weight: 800;
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    p {
      font-family: "Poppins";
      font-size: 16px;
      margin-bottom: 50px;
      line-height: 28px;
    }
  }

  .experience-cards {
    gap: 30px;
    margin-bottom: 50px;
  }

  .exp-card {
    flex-direction: row;
    box-shadow: none;
    gap: 30px;
    padding: 15px 5px 15px 30px;

    .exp-card-image {
      width: 67px;
      height: 67px;
      background-size: cover;
    }

    .exp-card-text {
      font-size: 24px;
      font-weight: 700;
      margin: 0px;
    }
  }

  .experience-button {
    margin-bottom: 30px;
    width: 100%;
    justify-content: start;

    button {
      width: 190px;
      height: 50px;
      font-size: 18px;
    }
  }

  // ------------whychoose------------
  .whychoose {
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    padding: 100px 20px;
    margin: 100px 0px;
  }

  .whychoose-content {
    width: 656px;
    align-items: start;
  }

  .whychoose-text {
    text-align: left;
    margin-bottom: 50px;

    h2 {
      font-size: 45px;
      margin-bottom: 30px;
    }

    p {
      line-height: 30px;
    }
  }

  .whychoose-tags {
    width: 90%;
    margin-bottom: 60px;
  }

  .whych-tags-top {
    gap: 118px;
  }
  .whych-tags-down {
    gap: 118px;
  }

  .whych-tag {
    gap: 20px;

    p {
      font-size: 24px;
    }
  }

  .whych-tag-icon {
    height: 30px;
    width: 30px;
  }

  .mob-whychoose-image {
    display: none;
  }

  .desktop-whychoose-image {
    display: flex;
    box-shadow: 0px 3px 15px -2px rgb(31, 29, 29);
  }

  .whychoose-fonflower-one {
    display: none;
  }

  .whychoose-fonflower-two {
    display: none;
  }

  .whychoose-button {
    button {
      width: 190px;
      height: 50px;
      font-size: 18px;
    }
  }

  // ----working-----
  .working {
    padding: 0px 20px;
    gap: 50px;
    margin-bottom: 100px;
  }

  .working-text {
    h2 {
      font-size: 45px;
      margin-bottom: 20px;
    }
  }

  .working-cards {
    gap: 30px;
    flex-direction: row;
  }

  .work-card {
    flex: 1 1 calc(25% - 30px);
    padding: 50px 29px 70px;
    gap: 35px;
    background-image: url(image/desktop-working-card-backgr.svg);
    background-position-x: 180px;
    background-position-y: 105px;
  }

  .work-card-icons {
    height: 80px;

    h1 {
      font-size: 78px;
    }
  }

  .work-card-ic {
    width: 70px;
    height: 70px;
    background-size: contain;
  }

  .work-card:hover {
    background-color: #00730c;
    background-image: url(image/hover-desk-working-card-backg.svg);

    h1,
    h3,
    p {
      color: white;
    }

    .wc-first {
      background-image: url(image/working-icon1-white.svg);
    }
    .wc-second {
      background-image: url(image/working-icon2-white.svg);
    }
    .wc-third {
      background-image: url(image/working-icon3-white.svg);
    }
    .wc-fourth {
      background-image: url(image/working-icon4-white.svg);
    }
  }

  .work-card-text {
    h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  // ---ourbest---
  .ourbest {
    padding: 0px 20px;
    height: 247px;
    justify-content: end;
  }

  .mobile-ourbest-img {
    display: none;
  }

  .desktop-ourbest-img {
    display: flex;
  }

  .ourbest-content {
    flex-direction: row;
    width: 52%;
    gap: 85px;
    top: 78px;

    h3 {
      width: 448px;
      font-size: 33px;
      text-align: left;
    }
  }

  .ourbest-button {
    height: 50px;
    width: 170px;
    background-image: url(image/desktop-ourbest-button.png);
    background-position-y: -7px;
    background-position-x: -9px;
  }

  // --our staff---
  .our-staff {
    padding: 100px 20px;
    gap: 50px;
  }

  .our-staff-text {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    h2 {
      width: 100%;
      text-align: left;
      font-size: 45px;
      margin-bottom: 30px;
    }

    p {
      width: 70%;
      margin-right: 224px;
      text-align: left;
    }

    button {
      margin-top: 0px;
      width: 190px;
      height: 50px;
      font-size: 18px;
    }
  }

  .mob-our-staff-cards {
    display: none;
  }

  .staff-slides {
    display: none;
  }

  .desk-our-staff-cards {
    display: flex;
    gap: 30px;

    img {
      border-radius: 5px;
    }
  }

  .desk-st-card {
    flex: 1 1 calc(25% - 30px);
    position: relative;
    height: 408px;
    display: flex;
  }

  .desk-staff-name {
    position: absolute;
    height: 90px;
    width: 100%;
    background: linear-gradient(
      (to top, rgb(0, 115, 12) 4.95%, rgba(0, 115, 12, 0) 264.79%)
    );
    bottom: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    color: white;

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .full-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      (to top, rgb(0, 115, 12) 4.95%, rgba(0, 115, 12, 0) 264.79%)
    );
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .full-info-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .fic-name {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1px;
    align-items: center;

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .fic-icons {
    display: flex;
    gap: 25px;
  }

  .fic-icon {
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    a {
      display: block;
      height: 30px;
    }
  }

  .fic-first {
    background-image: url(image/icon-google-white.svg);
  }
  .fic-second {
    background-image: url(image/icon-facebook-white.svg);
  }
  .fic-third {
    background-image: url(image/icon-twitter-white.svg);
    background-size: 25px;
  }
  .fic-fourth {
    background-image: url(image/icon-pinterest-white.svg);
  }
  .fic-fifth {
    background-image: url(image/icon-linkedin-white.svg);
    background-size: 25px;
  }

  .desk-st-card:hover {
    .full-info {
      display: flex;
    }

    .desk-staff-name {
      display: none;
    }
  }

  // clients say

  .clients-say {
    padding: 100px 20px 0px 20px;
    text-align: left;
    margin-bottom: 170px;

    h2 {
      font-size: 45px;
      margin-bottom: 30px;
    }
  }

  .client-say-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    p {
      width: 956px;
    }
  }

  .clients-say-cards {
    background-color: transparent;
  }

  // clients-say слайдер
  .slick-list {
    margin: 0px -15px;
  }

  .slick-arrow {
    top: -64px;
    width: 50px;
    height: 50px;
    border: 1px solid #00730c;
    border-radius: 5px;
    background-color: transparent;

    &::before {
      display: none;
    }
  }

  .slick-prev,
  .slick-prev:focus {
    right: 93px;
    left: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(image/client-say-arrow-left-green.svg);

    &:hover {
      background-image: url(image/client-say-arrow-left.svg);
      background-color: #00730c;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .slick-next,
  .slick-next:focus {
    right: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(image/client-say-arrow-right-green.svg);

    &:hover {
      background-image: url(image/client-say-arrow-right.svg);
      background-color: #00730c;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  //clients-say картки
  .cs-card {
    background-color: white;
    flex-direction: row;
    height: 341px;
    padding: 25px;
    gap: 35px;
    margin: 15px;
    box-shadow: -1px 6px 18px 6px rgb(243, 238, 238);
  }

  .cs-card-img {
    display: flex;
    align-items: center;

    img {
      height: 276px;
      width: 193px;
    }
  }

  .cs-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
    background-image: url(image/desk-client-say-card-icon.svg);
    background-size: 70px;

    p {
      line-height: 30px;
      margin-bottom: 0px;
    }
  }

  .cs-text-row {
    height: 63px;
  }

  .cs-name {
    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 14px;
      font-family: "Poppins";
    }
  }

  .raiting {
    gap: 8px;

    label {
      width: 25px;
      height: 25px;
      background-size: cover;
    }

    label:before {
      width: 25px;
      height: 25px;
      background-size: cover;
    }
  }

  // frequently

  .frequently {
    padding: 0px 20px;
    display: flex;
    width: 100%;
    gap: 12px;
  }

  .frequently-content {
    max-width: 60%;
  }

  .freq-text {
    gap: 30px;
    text-align: left;

    br {
      display: none;
    }

    h2 {
      font-size: 45px;
    }
  }

  .freq-questions-answers {
    gap: 30px;
    height: 516px;
    justify-content: center;
  }

  .freq-accordion {
    &:last-child {
      display: none;
    }
  }

  .fra-title {
    padding: 13px 30px;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;

    span {
      width: 28px;
      height: 28px;
      transition: transform 0.5s ease-out;
      transform: rotate(0);
    }
  }

  .fra-title.active {
    span {
      transform: rotate(45deg);
    }

    span:after {
      transform: rotate(0);
    }
  }

  .fra-content {
    padding: 0px 30px;
    font-size: 16px;
    font-family: "Poppins";
  }

  .frequently-image {
    display: flex;
    align-items: end;
    padding-left: 51px;
  }

  // our insights

  .our-insights {
    padding: 100px 20px;
    gap: 50px;
  }

  .our-insights-text {
    h2 {
      font-size: 45px;
    }
  }

  // our-insights slider
  .swiper {
    padding-bottom: 60px;
  }

  .oic-white-fon {
    background-size: 180px;
    background-position-y: -10px;
  }

  .our-insights-card {
    box-shadow: 87px 78px 60px -53px rgba(51, 51, 51, 0.08);
  }

  .oi-card-tag-and-text {
    padding: 100px 30px 70px;
  }

  .oi-tag {
    width: 139px;
    height: 35px;
    line-height: 35px;
  }

  .oi-text {
    gap: 30px;
    text-align: justify;

    h3 {
      font-size: 24px;
      width: 92%;
    }
  }

  .oi-row {
    margin: 0;
    padding: 30px 43px;

    h4 {
      font-size: 16px;
      text-decoration: underline;
      text-transform: uppercase;
    }

    h6 {
      font-size: 18px;
    }
  }

  .oi-admin {
    align-items: center;
    border-bottom: 1px solid white;
  }

  .oic-picture1-fon {
    .oi-tag {
      margin-bottom: 105px;
    }
  }

  .oic-picture2-fon {
    .oi-tag {
      margin-bottom: 105px;
    }
  }

  .oic-pagination {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px);
  }

  .swiper-pagination-bullet {
    background-color: #00730c;
    border-radius: 0;
    width: 50px;
    height: 7px;
  }

  // company logos

  .mob-company-logos {
    display: none;
  }

  .desk-company-logos {
    display: flex;

    justify-content: space-around;
    padding-bottom: 100px;

    img {
      filter: grayscale(100%);
      width: 202px;
      height: 100px;
      cursor: pointer;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  // we have
  .we-have {
    padding: 0px 20px;
    height: 70px;
  }

  .we-have-card {
    flex-direction: row;
    padding: 32px 100px;
    gap: 0;
    justify-content: space-between;
    border-radius: 10px;

    h3 {
      font-size: 45px;
    }

    button {
      width: 175px;
      height: 50px;
      font-size: 18px;
    }
  }

  // foot content
  .foot-content {
    padding: 170px 20px 40px;
    flex-direction: row;
    justify-content: space-between;

    h4 {
      font-size: 24px;
      margin-bottom: 80px;
    }

    h6 {
      font-size: 18px;
      margin-bottom: 20px;
    }

    a {
      font-size: 18px;
    }
  }

  // subscribe

  .subscribe {
    width: 498px;

    p {
      margin-bottom: 44px;
    }
  }

  .subscribe-form {
    margin-bottom: 30px;

    button {
      font-size: 24px;
    }
  }

  .social-icons {
    gap: 30px;
  }

  .soc-icon {
    width: 40px;
    height: 40px;
    background-size: 30px;

    a {
      height: 40px;
    }
  }

  .si-fourth {
    background-size: 22px;
  }

  // contacts

  .contacts {
    width: 208px;
  }

  // useful links
  .useful-links {
    width: 246px;
  }

  .useful-links-columns {
    gap: 50px;
  }

  .use-link-column {
    gap: 20px;
  }

  .use-link-item {
    gap: 5px;
  }

  // popular
  .popular {
    width: 181px;
  }

  .popular-item {
    margin-bottom: 20px;
  }

  // final
  .mob-foot-final {
    display: none;
  }

  .desk-foot-final {
    display: flex;
    border-top: 1px solid white;
    padding: 30px 0px 40px;
    justify-content: center;
    gap: 462px;

    p {
      color: white;
      font-size: 18px;
    }
  }

  .final-row {
    align-items: center;

    a {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
