* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
}

.stop-scroll {
  overflow: hidden;
}

header {
  position: relative;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: rgb(103, 103, 103);
  line-height: 22px;
}

.fon-top-navbar {
  background-color: #0c4b35;
  position: relative;
  z-index: 31;
}

.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.adress-and-phone {
  display: flex;
  gap: 20px;
}
.adress-and-phone a {
  display: flex;
  height: 100%;
}

.adress-and-phone-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
}

.mail {
  background-image: url(../image/Mail.svg);
}

.phone {
  background-image: url(../image/Vector.svg);
}

.location {
  background-image: url(../image/Location.svg);
}

.email {
  display: none;
}

.phone-number {
  display: none;
}

.location-adress {
  display: none;
}

.language {
  gap: 5px;
  display: flex;
  align-items: center;
}

.language-menu {
  list-style: none;
  padding: 0px;
}
.language-menu a {
  color: white;
  font-size: 12px;
  display: flex;
  cursor: pointer;
}
.language-menu li {
  position: relative;
}

.language-submenu {
  display: none;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  left: -17px;
  list-style: none;
  padding: 10px;
  background-color: #0c4b35;
  z-index: 31;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.5);
}
.language-submenu li {
  padding: 5px;
}
.language-submenu li:hover {
  background-color: white;
}
.language-submenu li:hover a {
  color: #0c4b35;
  transition: all 0.1s ease-out;
}
.language-submenu a {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.1s ease-out;
}

.language-submenu.active {
  display: flex;
  gap: 7px;
  opacity: 1;
  visibility: visible;
}

.arrow {
  background-image: url(../image/Arrow.svg);
  width: 7px;
  height: 4px;
}

.navbar {
  padding: 15px 0;
  position: relative;
  z-index: 30;
  background-color: white;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-call-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-call {
  width: 40px;
  height: 34px;
  background-color: #00730c;
  border-radius: 10px;
  background-image: url(../image/telephone-icon-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.nav-call a {
  display: flex;
  height: 100%;
}

.nav-menu {
  width: 30px;
  height: 20px;
  position: relative;
}
.nav-menu::before, .nav-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00730c;
}
.nav-menu::before {
  top: 0;
  transition: 0.3s all linear;
}
.nav-menu::after {
  bottom: 0;
  transition: 0.3s all linear;
  width: 20px;
}
.nav-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00730c;
  top: 9px;
}

.nav-menu.active::before {
  top: 10px;
  transform: rotate(-45deg);
}
.nav-menu.active::after {
  width: 100%;
  bottom: 8px;
  transform: rotate(45deg);
}
.nav-menu.active span {
  display: none;
}

.mob-menu {
  background-color: #0c4b35;
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  z-index: 5;
  transition: 0.3s all linear;
  padding: 0 15px;
}

.mob-menu.active {
  left: 0;
}

.mob-menu-wrapper {
  height: 100vh;
  overflow: auto;
  gap: 25px;
}

.mob-menu-content {
  width: 100%;
  gap: 15px;
  padding-top: 163px;
}

.mob-menu-cont-item {
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.mob-menu-accordion {
  display: flex;
  flex-direction: column;
  width: 143px;
}

.mma-title {
  display: flex;
  gap: 8px;
  opacity: 0.7;
  align-items: center;
}
.mma-title:hover {
  opacity: 1;
  cursor: pointer;
}
.mma-title h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.mma-title span {
  width: 12px;
  height: 12px;
  background-image: url(../image/Arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px;
  transition: transform 0.5s ease-out;
  transform: rotate(0);
}
.mma-title a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.mma-title.press {
  opacity: 1;
}
.mma-title.press span {
  transform: rotate(180deg);
}

.mma-column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.mma-column.press {
  visibility: visible;
  padding-top: 15px;
  opacity: 1;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.1s, visibility 0.1s ease-out 0.1s;
}

.mma-column-item {
  display: flex;
}
.mma-column-item a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  display: flex;
}
.mma-column-item a:hover {
  opacity: 1;
}

.mob-menu-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 0px 15px 20px;
}

.mmf-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mmf-soc-icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.mmf-soc-icon a {
  display: block;
  height: 20px;
}

.mmf-facebook {
  background-image: url(../image/icon-facebook-white.svg);
}

.mmf-linkedin {
  background-image: url(../image/icon-linkedin-white.svg);
  background-size: 15px;
}

.mmf-google {
  background-image: url(../image/icon-google-white.svg);
}

.mmf-twitter {
  background-image: url(../image/icon-twitter-white.svg);
}

.mmf-final {
  text-align: center;
  color: white;
  padding: 0px 10px;
}
.mmf-final h6 {
  font-size: 10px;
  font-weight: 400;
}

.hero {
  padding: 146px 0 50px;
  background-size: 405%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(285deg, rgba(30, 29, 29, 0.5) 48%, rgb(0, 115, 12) 68%), url(../image/about-us-hero-bg.svg);
}

.hero-content {
  text-align: center;
  color: white;
}
.hero-content h2 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 32px;
}
.hero-content p {
  font-size: 14px;
  color: white;
  margin-bottom: 30px;
}

.hero-content-links {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.hero-content-links a {
  font-size: 18px;
  font-weight: bold;
}
.hero-content-links a:first-child {
  gap: 8px;
  align-items: center;
}
.hero-content-links a:first-child span {
  width: 5px;
  height: 10px;
  background-image: url(../image/client-say-arrow-right.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-content-links a:last-child {
  color: #00730c;
}

.about-us {
  padding: 50px 0;
}

.about-us-header {
  margin-bottom: 30px;
  text-align: center;
}
.about-us-header h6 {
  font-size: 14px;
  margin-bottom: 15px;
}
.about-us-header h2 {
  font-size: 28px;
  font-weight: bold;
}
.about-us-header span {
  color: #00730c;
}

.about-us-images {
  position: relative;
  width: 100%;
  height: 475px;
  margin-bottom: 30px;
}

.au-green-image {
  position: absolute;
  background-color: #00730c;
  width: 188px;
  height: 293px;
}

.au-image-one {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.au-image-one img {
  height: 358px;
  width: 291px;
}

.au-image-two {
  z-index: 1;
  position: absolute;
  left: 30px;
  top: 310px;
}
.au-image-two img {
  width: 241px;
  height: 162px;
}

.about-us-content {
  margin-bottom: 40px;
}
.about-us-content h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.about-us-content span {
  color: #00730c;
}

.about-us-cards {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.au-card {
  flex: 1 1 calc(50% - 20px);
  width: 50%;
  padding: 15px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 3px 15px 8px rgb(243, 238, 238);
}
.au-card h6 {
  font-size: 14px;
  font-weight: bold;
}

.au-card-image {
  width: 40px;
  height: 40px;
  background-position-x: center;
}

.auc-first {
  background-image: url(../image/exp-card-image1.svg);
}

.auc-second {
  background-image: url(../image/exp-card-image2.svg);
}

.auc-third {
  background-image: url(../image/exp-card-image3.svg);
}

.auc-fourth {
  background-image: url(../image/exp-card-image4.svg);
}

.about-us-content-two {
  margin-bottom: 50px;
}
.about-us-content-two h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.our-skills {
  display: flex;
  flex-direction: column;
}

.our-skills-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.our-skills-content p {
  margin-bottom: 20px;
}

.our-skills-tags {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.os-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.tag-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(270deg, #fbf6ee, 46%, #a3e0a9);
  border-radius: 50%;
}

.our-skills-raitings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 54px;
}

.os-raiting-text {
  display: flex;
  justify-content: space-between;
}

.os-raiting-progress {
  padding: 3px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.18);
  border-radius: 21px;
}
.os-raiting-progress span {
  background-color: #00730c;
  height: 10px;
  display: flex;
  border-radius: 21px;
}

.first-progress {
  padding-right: 30px;
}

.second-progress {
  padding-right: 114px;
}

.third-progress {
  padding-right: 90px;
}

.fourth-progress {
  padding-right: 56px;
}

.our-skills-image {
  position: relative;
  margin-bottom: 50px;
}
.our-skills-image img {
  width: 95%;
}
.our-skills-image::after {
  content: "";
  width: 85%;
  height: 96%;
  background-color: #00730c;
  position: absolute;
  right: 0;
  top: -14px;
  z-index: -1;
}

.logos-slider {
  padding: 0 15px 50px;
}

.logo-card {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-card img {
  filter: grayscale(100%);
  max-width: 100%;
  height: 100%;
}

footer {
  background-color: #0c4b35;
  padding: 139px 0 40px;
  position: relative;
}

.we-have {
  padding: 0 15px;
  position: absolute;
  top: -30px;
}

.we-have-card {
  padding: 30px 50px;
  background-color: #d9f1e0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.we-have-card h3 {
  font-size: 20px;
}
.we-have-card span {
  color: #00730c;
}

@media (min-width: 1024px) {
  .language-menu li:hover .language-submenu {
    display: flex;
    gap: 7px;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}/*# sourceMappingURL=AboutUsStyle.css.map */